{{- $mainScript := resources.Get "js/main.js" }}
{{- $configScript := resources.Get "js/config.template.js" | resources.ExecuteAsTemplate "config.js" . -}}
{{- $customScript := resources.Get "js/custom.js" -}}
{{- $script := slice $mainScript $configScript $customScript | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint -}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{- range .Site.Params.customJS -}}
<script src="{{ absURL . }}" crossorigin="anonymous"></script>
{{- end -}}
