.btn-toggle {
  &[aria-expanded='true'] {
    .btn-toggle-icon {
      transform: rotate(90deg);
    }
  }
}

.docs-nav {
  word-break: break-word;
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: var(--#{$prefix}primary) rgba(0,0,0,0);
  }

  @include media-breakpoint-up(xxl) {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }

  li {
    &:focus-visible {
      outline: none;
    }
  }
}

.container-fluid {
  .docs-nav {
    padding-left: 1rem;
  }
}

.docs-nav-title-icon {
  margin-left: -.5rem;
}

.docs-sidebar {
  @include media-breakpoint-up(xxl) {
    top: 84px;
    height: calc(100vh - 84px);
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

.docs-nav-active-item {
  margin-left: -.58rem;
}
