.btn-toggle {
    &[aria-expanded="true"] {
        .btn-toggle-icon {
            transform: rotate(90deg);
        }
    }
}

.docs-nav {
    word-break: break-word;
    
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        overflow-y: auto;
    }

    li {
        &:focus-visible {
            outline: none;
        }
    }
}

.docs-sidebar {
    @include media-breakpoint-up(lg) {
        top: 84px;
        height: calc(100vh - 84px);
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}
