.btn-toggle {
    &[aria-expanded="true"] {
        .btn-toggle-icon {
            transform: rotate(90deg);
        }
    }
}

.docs-catalog {
    word-break: break-word;
    
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        overflow-y: auto;
    }

    li {
        &:focus-visible {
            outline: none;
        }
    }
}

.catalog-section {
    a {
        &:hover {
            color: inherit;
        }
    }
}

.docs-sidebar {
    @include media-breakpoint-up(lg) {
        top: 84px;
        height: calc(100vh - 84px);
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}

.catalog-collapse {
    @include media-breakpoint-up(lg) {
      display: flex!important;
    }
}

.catalog-toggle {
    z-index: 999;
    border: none;
    width: 1rem;
    background: var(--#{$prefix}background);
    color: var(--#{$prefix}on-background);
    left: 0;
}
