.btn-actions-panel {
  bottom: 5rem;
  right: 1.25rem;

  @include media-breakpoint-down(sm) {
    right: 0.75rem;
  }
}

#offcanvasActionsPanel { /* stylelint-disable-line */
  .action,
  .btn-social-share {
    width: 5rem;
  }
}
