.btn-actions-panel {
    bottom: 5rem;
    right: 1.25rem;
    
    @include media-breakpoint-down(sm) {
      right: .75rem;
    }
}

#offcanvasActionsPanel {
  .action,
  .btn-social-share {
    width: 5rem;
  }
}