.hbs-breadcrumb {
  .breadcrumb-item {
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include media-breakpoint-down(sm) {
    .breadcrumb-item:not(:last-child, :first-child) {
      &::after {
        content: '...';
      }

      a {
        display: none;
      }
    }
  }
}
