.btn {
  @extend .shadow-sm;
}

.btn-primary {
  color: var(--#{$prefix}on-primary)!important;
  background-color: var(--#{$prefix}accent)!important;
  border-color: var(--#{$prefix}accent)!important;

  &:hover,
  &:focus,
  &.active,
  &:active {
    background-color: var(--#{$prefix}accent-dark)!important;
    border-color: var(--#{$prefix}accent-dark)!important;
  }
}

.btn-outline-primary {
  background-color: var(--#{$prefix}on-primary)!important;
  border-color: var(--#{$prefix}primary)!important;
  color: var(--#{$prefix}primary)!important;

  &:hover,
  &:focus,
  &.active,
  &:active,
  &.dropdown-toggle.show {
    background-color: var(--#{$prefix}primary) !important;
    border-color: var(--#{$prefix}primary) !important;
    color: var(--#{$prefix}on-primary) !important;
    box-shadow: none !important;
  }
}
