.carousel-caption {
    background: rgba(0, 0, 0, .35);
    padding: 1.25rem;
}

.carousel-item {
    background: rgba(0, 0, 0, .35);

    img {
        width: 100%;
        height: 320px;

        @include media-breakpoint-down(sm) {
            height: 180px;
        }
    }
}
