.carousel-caption {
    background: rgba(0, 0, 0, .5);
    padding: 1.25rem;
    text-align: start;
}

.carousel-indicators {
    justify-content: start;
    margin-left: 1.5rem;

    [data-bs-target] {
        height: 4px;
        width: 20px;

        &.active {
            width: 40px;
        }
    }
}

.carousel-controls {
    bottom: 1rem;
    right: 1.25rem;

    [data-bs-target] {
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

.carousel-item {
    background: rgba(0, 0, 0, .35);

    img {
        width: 100%;
        height: 320px;

        @include media-breakpoint-down(sm) {
            height: 180px;
        }
    }
}
