.component {
  @extend .surface; /* stylelint-disable-line */

  border: none;
  margin-bottom: var(--#{$prefix}component-gutter-b);
  padding: 0 0.25rem;

  &:hover,
  &:focus {
    @extend .shadow-sm; /* stylelint-disable-line */
  }
}
