// PLEASE DO NOT OVERRIDE THIS FILE.
{{ $params := $.Site.Params }}
$custom-font-sizes: (
    xs: {{ default ".85rem" $params.fontSize.extraSmall }},
    sm: {{ default ".925rem" $params.fontSize.small }},
    lg: {{ default "1.075rem" $params.fontSize.large }},
    xl: {{ default "1.15rem" $params.fontSize.extraLarge }},
);

// Top App Bar
$fixedHeader: {{ if $params.fixedHeader }}true{{ else }}false{{ end }};
$colored-top-app-bar-in-dark: {{ default false $params.topAppBar.coloredInDark }};

$fixedSidebar: {{ with $params.sidebar.fixed }}{{ . }}{{ else }}false{{ end }};
$backgroundImageLight: '{{ with $params.backgroundImage }}{{ index . 0 }}{{ end }}';
$backgroundImageDark: '{{ with $params.backgroundImage }}{{ if gt (len .) 1 }}{{ index . 1 }}{{ else }}{{ index . 0 }}{{ end }}{{ end }}';
$breadcrumb-divider: quote("{{ with $params.breadcrumbDivider }}{{ . }}{{ else }}/{{ end }}");

// Palettes
$preferPalette: '{{ default "blue" $params.palette }}';
$validPalettes: true;
{{- with $params.palettes -}}
    {{- if eq 0 (len .) -}}
        $validPalettes: false;
    {{- else -}}
        $validPalettes: [];
        {{- range . -}}
            $validPalettes: append($validPalettes, '{{ replace . " " "-" }}');
        {{- end -}}
    {{- end -}}
{{- end -}}

$numberifyHeadings: {{ default false $params.post.numberifyHeadings }};
$numberifyHeadingsSeparator: '{{ default "" $params.post.numberifyHeadingsSeparator }}' + "\0000a0";
$numberifyHeadingsEndLevel: {{ default 6 $params.post.numberifyHeadingsEndLevel }};
$tocStyleType: '{{ default "none" $params.post.tocStyleType }}';

$enable-viewer: {{ default true $params.viewer }};
