.dropdown-menu {
  background-color: var(--#{$prefix}background);

  .dropdown-item {
    color: var(--#{$prefix}primary-text-on-background) !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--#{$prefix}on-primary) !important;
      background-color: var(--#{$prefix}accent) !important;
      text-decoration: none;
    }
  }
}
