.faq {
    a {
        color: var(--#{$prefix}accent);
    }
}

.faq-answer {
    background: var(--#{$prefix}surface);
    color: var(--#{$prefix}primary-text-on-surface);
}

.accordion-button {
    background: var(--#{$prefix}background);
    color: var(--#{$prefix}primary-text-on-background);
    box-shadow: none!important;

    .faq-question-icon {
        right: .5rem;
    }

    &:not(.collapsed) {
        background: var(--#{$prefix}background);
        color: var(--#{$prefix}accent);

        .faq-question-icon {
            transform: rotate(90deg);
        }
    }

    &::after {
        display: none;
    }
}
