.footer {
  color: var(--#{$prefix}secondary-text-on-surface);

  .powered-by a {
    color: var(--#{$prefix}accent);
  }
}

.social-link {
  padding: 0.25rem;
  color: var(--#{$prefix}secondary-text-on-surface) !important;

  &:hover {
    color: var(--#{$prefix}accent)!important;
  }
}
