.form-control {
  color: var(--#{$prefix}primary-text-on-background);
  background: var(--#{$prefix}background);
  border-color: var(--#{$prefix}background);

  &:focus {
    box-shadow: 0 0 0 0.125rem var(--#{$prefix}accent);
    border-color: var(--#{$prefix}accent);
    color: var(--#{$prefix}primary-text-on-background);
    background: var(--#{$prefix}background);
  }
}

.form-check-input {
  &:checked,
  &:focus {
    background-color: var(--#{$prefix}accent);
    border-color: var(--#{$prefix}accent);
    box-shadow: var(--#{$prefix}accent-light);
  }
}
