.pagination {
  justify-content: center;

  .page-link {
    background-color: var(--#{$prefix}surface);
    border-color: var(--#{$prefix}secondary-text-on-surface);
    color: var(--#{$prefix}secondary-text-on-surface);
  }

  .page-item {
    .page-link {
      border-color: var(--#{$prefix}secondary-text-on-surface);

      &:focus {
        box-shadow: none;
      }
    }

    &.active {
      .page-link {
        background-color: var(--#{$prefix}primary);
        color: var(--#{$prefix}on-primary);
      }
    }

    &.disabled {
      .page-link {
        color: var(--#{$prefix}disabled-text-on-surface);
        background-color: var(--#{$prefix}surface);
      }
    }
  }
}
