html {
  @if $backgroundImageLight != '' {
    background: url($backgroundImageLight) no-repeat center center fixed;
    background-size: cover;

    body {
      background-color: unset;
    }
  }
  
  @if $backgroundImageDark != '' {
    &[data-mode=dark] {
      background-image: url($backgroundImageDark); 
    }
  }

  @if $fixedHeader {
    scroll-padding-top: 64px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--#{$prefix}background);
  color: var(--#{$prefix}primary-text-on-background);
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: var(--#{$prefix}accent);
    text-decoration: underline;
  }

  &.btn {
    text-decoration: none !important;
  }
}

hr {
  color: var(--#{$prefix}accent);
}
