html {
  @if $backgroundImageLight != '' {
    background: url($backgroundImageLight) no-repeat center center fixed;
    background-size: cover;

    body {
      background-color: unset;
    }
  }

  @if $backgroundImageDark != '' {
    &[data-bs-theme='dark'] {
      background-image: url($backgroundImageDark);
    }
  }

  @if $fixedHeader {
    scroll-padding-top: 64px;
  }
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}
