::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--#{$prefix}secondary-text-on-surface);
}

::-webkit-scrollbar-track {
  background: var(--#{$prefix}surface);
}

::-webkit-scrollbar-corner {
  background: var(--#{$prefix}primary-text-on-surface);
}
