.btn-scroll-to-top {
  bottom: 1.5rem;
  color: var(--#{$prefix}accent);
  transition: opacity 0.5s;
  right: 1.25rem;
  
  @include media-breakpoint-down(sm) {
    right: .75rem;
  }

  &.active {
    opacity: 1!important;
  }
}
