.sidebar {
    @if $fixedSidebar {
        @include media-breakpoint-up(lg) {
            height: calc(100vh - 84px);
            overflow: scroll;
            position: sticky;
            top: 84px;
        }
    }
}
