.sidebar {
  @if $fixedSidebar {
    @include media-breakpoint-up(lg) {
      height: calc(100vh - 84px);
      overflow-y: scroll;
      position: sticky;
      top: 84px;
    }
  }
}

main.sidebar {
  &.sidebar-none {
    .sidebar {
      display: none !important;
    }

    .content-posts {
      @extend .col-xxl-12;
    }

    .content-docs {
      @extend .col-xxl-10;
    }
  }


  &:not(.sidebar-none) {
    .content-docs {
      @extend .col-xxl-7;
    }
    .content-posts {
      @extend .col-xxl-8;
    }
  }
}
