.surface {
  background: var(--#{$prefix}surface-bg) !important;
  color: var(--#{$prefix}surface-color-secondary) !important;
}

.bg-surface {
  background-color: var(--#{$prefix}surface-bg) !important;
}

.text-surface {
  color: var(--#{$prefix}surface-color) !important;
}

.text-surface-secondary {
  color: var(--#{$prefix}surface-color-secondary) !important;
}

.text-surface-disabled {
  color: var(--#{$prefix}surface-color-disabled) !important;
}
