$body-bg-dark: #121212 !default;
$surface-bg-dark: #1e1e1e !default;
$surface-color-dark: rgb(225, 225, 225) !default;
$surface-color-secondary-dark: rgba(225, 225, 225, 0.7) !default;
$surface-color-disabled-dark: rgba(225, 225, 225, 0.5) !default;
