{{- if default true $.Site.Params.sidebar.archive -}}
{{- $archivePage := $.GetPage "/archives" -}}
<section class="row card component">
    <div class="card-header">
      <h2 class="card-title my-2 fs-4 text-surface">
          {{- with $archivePage -}}
          <a href="{{ .Permalink }}">{{ i18n "archives" }}</a>
          {{- else -}}
          {{ i18n "archives" }}
          {{- end -}}
      </h2>
    </div>
    <div class="card-body">
      {{ range (where $.Site.RegularPages "Type" "in" $.Site.Params.mainSections).GroupByDate "2006" }}
        {{- $yearPage := $.GetPage (printf "/archives/%s" .Key) -}}
        <a href="{{ with $yearPage }}{{ .Permalink }}{{ end }}" class="btn btn-sm btn-secondary post-taxonomy me-2 mb-2" title="{{ .Key }}">
          {{ .Key }} <span class="badge badge-sm text-secondary bg-white ms-1">{{ len .Pages}}</span>
        </a>
      {{ end }}
    </div>
</section>
{{- end -}}
