{{- $page := .Site.GetPage "search" -}}
{{- if $page }}
<div class="row component card">
    <div class="card-body">
        <form action="{{ $page.RelPermalink }}">
            <div class="input-group">
                <input name="q" class="form-control rounded" placeholder="{{ i18n "search" }}">
                <button class="btn btn-sm btn-search position-absolute end-0 border-0 border-start border-secondary p-2" type="submit">
                    <i class="fas fa-fw fa-search text-primary"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{{- end }}
