{{- range $key, $value := .Site.Taxonomies -}}
{{- $countParams := dict "categories" "categoryCount" "tags" "tagCount" "series" "seriesCount" -}}
{{- $param := default "" (index $countParams $key) -}}
{{- $taxonomyCount := default 10 ($.Site.Param $param) -}}
<section class="taxonomy-{{ $key }} row surface">
  <h4>
    <a href="{{ absLangURL (urlize $key) }}">{{ T $key }}</a>
  </h4>
  <div>
  {{- range $idx, $taxonomy := $value.ByCount -}}
    {{- if lt $idx $taxonomyCount -}}
    <a href="{{ $taxonomy.Page.Permalink }}" class="post-taxonomy">
      #{{ $taxonomy.Page.Title }}[{{ $taxonomy.Count }}]
    </a>
    {{- end -}}
  {{- end -}}
  </div>
</section>
{{- end -}}
