{{- if partial "functions/toc" . -}}
<div class="accordion post-toc d-none d-lg-block">
  <div class="accordion-item row mb-4 card component" id="postTOC">
    <div class="card-header accordion-header">
      <h2 class="card-title fs-4 my-2 text-surface d-none d-lg-block">{{ i18n "table_of_contents" }}</h2>
      <a class="accordion-button d-lg-none mb-1 collapsed shadow-none p-0 bg-transparent" role="button" data-bs-toggle="collapse" href="#post-toc" aria-expanded="false" aria-controls="post-toc">
        {{ i18n "table_of_contents" }}
      </a>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block" id="post-toc">
      {{ .TableOfContents }}
    </div>
  </div>
</div>
{{- end -}}
