{{- $enable := and (default true .Params.toc) (default true .Site.Params.toc) -}}
{{- $toc := .TableOfContents -}}
{{- $valid := and $toc (and (ne $toc "<nav id=\"TableOfContents\"></nav>") (gt .WordCount .Site.Params.tocWordCount)) -}}
{{- if and $enable $valid -}}
<div class="accordion post-toc d-none d-lg-block">
  <div class="accordion-item row mb-4 card component" id="postTOC">
    <div class="card-header accordion-header">
      <h2 class="card-title fs-4 my-2 text-surface d-none d-lg-block">{{ i18n "table_of_contents" }}</h2>
      <a class="accordion-button d-lg-none mb-1 collapsed shadow-none p-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#post-toc" aria-expanded="false" aria-controls="post-toc">
        {{ i18n "table_of_contents" }}
      </a>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block" id="post-toc" aria-labelledby="post-toc-header">
      {{ $toc }}
    </div>
  </div>
</div>
{{- end -}}
