{{- $title := .Title -}}
{{- $pageNumber := "" -}}
{{- if .IsNode -}}
  {{- if gt .Paginator.PageNumber 1 -}}
    {{- $title = printf "%s %s" $title (i18n "pagination_title" .Paginator) -}}
  {{- end -}}
{{- end -}}
{{- $titles := slice $title -}}
{{- if eq .Kind "term" -}}
  {{- $titles = $titles | append (i18n .Data.Plural)  -}}
{{- end -}}
{{- $titles = $titles | append .Site.Title -}}
{{- $separator := printf " %s " (default "-" .Site.Params.titleSeparator) -}}
{{- delimit $titles $separator -}}
