<div class="alert alert-success" role="alert">
    Our <a href="https://github.com/hbstack/theme" class="alert-link text-decoration-underline">new theme</a> is available now, please consider giving it a try for your new static sites. :)
</div>

{{- if eq .Type "docs" -}}
<div class="alert alert-info" role="alert">
    This theme provides several kinds of layouts, such as <code>posts</code> and <code>docs</code>.
    Our documentation uses the <code>docs</code> layout. If you're looking for an example that using <code>posts</code> layout,
    please take a look at the page <a class="text-decoration-underline" href="/v1/en/posts/markdown-syntax" target="_blank"><strong>Markdown Syntax</strong></a>.
</div>
{{- end -}}
