{{- with $.Site.Params.contact.reCaptcha -}}
<div class="mb-3">
    <label for="g-recaptcha-response" id="reCaptchaLabel" class="form-label text-danger">reCAPTCHA</label>
    <div class="g-recaptcha" data-sitekey="{{ .siteKey }}" data-callback="reCaptchaCallback"
        data-expired-callback="reCaptchaExpiredCallback"></div>
</div>
<script text="javascript">
    var reCaptchaLabel = document.querySelector('#reCaptchaLabel');
    var reCaptchaOnload = function () {
        document.querySelector('#g-recaptcha-response').setAttribute("required", true);
    }
    var reCaptchaCallback = function() {
        reCaptchaLabel.classList.remove('text-danger');
        reCaptchaLabel.classList.add('text-success');
    }

    var reCaptchaExpiredCallback = function() {
        reCaptchaLabel.classList.remove('text-success');
        reCaptchaLabel.classList.add('text-danger');
    }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaOnload"></script>
{{- end -}}
