<div id="loadingSpinner" class="mb-3">
    <div class="card" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-3"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-8"></span>
          </p>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-2"></span>
            <span class="placeholder col-2"></span>
            <span class="placeholder col-2"></span>
            <span class="placeholder col-2"></span>
          </p>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-12"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-12"></span>
          </p>
        </div>
    </div>
</div>
