@import '@algolia/autocomplete-theme-classic/dist/theme';

// Configuration
@import '../../main/scss/functions';
@import '../../main/scss/variables';
@import '../../main/scss/variables-theme';
@import '../../main/scss/variables-theme-dark';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import '../../main/scss/mixins';
@import 'bootstrap/scss/utilities';

:root {
    --aa-primary-color-rgb: var(--#{$prefix}primary-rgb);
    --aa-description-highlight-background-color-rgb: var(--#{$prefix}primary-rgb);
    --aa-text-color-rgb: var(--#{$prefix}body-color-rgb);
    --aa-selected-color-rgb: var(--#{$prefix}primary-rgb);
    --aa-background-color-rgb: var(--#{$prefix}body-bg-rgb);
}

.aa-Form {
    background: inherit;
}

.aa-Autocomplete {
    width: 100%;
}

.aa-Panel {
    --aa-panel-max-height: 240px;
    box-shadow: none;
    position: relative;
    top: 0 !important;

    @include media-breakpoint-up(md) {
        --aa-panel-max-height: 360px;
    }
}

.aa-Item {
    padding: .25rem .5rem;

    &[aria-selected=true] {
        background: transparent;

        .aa-ItemWrapper {
            background-color: var(--#{$prefix}primary) !important;
            color: white !important;
        }

        .aa-ItemContentTitle {
            color: white !important;
        }

        .aa-ItemContentDescription {
            color: rgba(255,255,255, 0.75) !important;
        }
    }
}

.aa-Item {
    mark {
        background: inherit;
        padding: 0 0.075em;
        text-decoration: underline;
    }

    &[aria-selected="true"] {
        mark {
            color: inherit;
        }
    }
}

.aa-ItemIcon {
    height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
}

.aa-ItemContentDescription {
    white-space: nowrap;
}

.aa-PanelLayout {
    padding: 0;
}

.aa-DetachedSearchButton {
    background: transparent;
    border: none;
    padding: 0;
}

.aa-DetachedSearchButtonIcon {
    width: 1.25rem;
}

.aa-SubmitIcon {
    color: var(--#{$prefix}navbar-color);
}

.aa-DetachedSearchButtonPlaceholder {
    display: none;
}

.aa-noResults {
    padding: 1rem .5rem;
    text-align: center;
    background: var(--#{$prefix}secondary);
    color: white;
}
