{{ define "content" }}
{{- partial "docs/nav" . -}}
<div class="col-lg-7 ms-auto">
  <div class="container-fluid">
    {{- partial "breadcrumb" . -}}
    {{- partial "docs/post" . -}}
  </div>
</div>
{{- partial "docs/sidebar" . -}}
{{ end }}
