{{- template "_internal/twitter_cards.html" . }}
{{- template "_internal/opengraph.html" . }}
{{- template "_internal/schema.html" . }}
{{- $featured := partialCached "functions/thumbnail" . . }}
{{- /* Use logo as social image if no featured images found. */}}
{{- if and (ne .Site.Params.logo false) (not $featured) (not .Params.images) (not .Site.Params.images) }}
  {{- $image := default "images/logo.png" .Site.Params.logo }}
  <meta property="og:image" content="{{ $image | absURL }}"/>
  <meta name="twitter:image" content="{{ $image | absURL }}"/>
{{- end -}}
{{- if ne .Site.Params.logo false }}
  {{- $alt := partialCached "functions/featured-img-alt" . . }}
  <meta property="og:image:alt" content="{{ $alt }}" />
  <meta name="twitter:image:alt" content="{{ $alt }}" />
{{- end -}}
