<!doctype html>
{{- $color := default "auto" $.Site.Params.color }}
{{- if not (in (slice "light" "dark" "auto") $color) }}
  {{- $color = "auto" }}
{{- end }}
<html class="position-relative" itemscope itemtype="http://schema.org/WebPage" lang="{{ .Lang }}"
  data-bs-theme="{{ $color }}"
  {{- with $.Site.Language.LanguageDirection }} dir="{{ . }}"{{ end }}
  {{- with $.Site.Params.palette }} data-palette="{{ replace . " " "-" }}"{{ end }}>
  <head>
    {{- partial "assets/init/js" . -}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $currentPage := .Scratch.Get "commentsPage" }}
    {{- $separator := .Site.Params.TitleSeparator }}
    <title>{{ printf "%s %s %s %s " (i18n "comments") $separator (i18n "pagination_title" (dict "PageNumber" $currentPage)) $separator }}{{- partial "head/title" . -}}</title>
    {{- partial "head.html" . -}}
    {{- block "head-end" . -}}{{- end -}}
    {{- partial "hooks/head-end" . -}}
  </head>
  <body>
    {{- partial "header.html" . }}
    {{- partial "hooks/main-begin" . }}
    <main class="{{- partialCached "functions/container-class" . .FirstSection -}}">
      <div class="row content">
        {{- partialCached "noscript" . .Language.Lang }}
        {{- partial "breadcrumb" . }}
        {{- partial "staticman/comments" . }}
      </div>
    </main>
    {{- partial "hooks/main-end" . }}
    {{- partial "footer.html" . }}
    {{- partial "body-end" . }}
  </body>
</html>

