{{ if and .IsTranslated }}
  <div class="post-translations nav-item dropup action">
    <a class="nav-link p-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Translations dropdown menu"
      title="{{ i18n `translations` }}">
      <i class="fas fa-fw fa-language"></i>
    </a>
    <div class="dropdown-menu">
      {{- range .Translations -}}
      <a class="dropdown-item post-translation" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{- end -}}
    </div>
  </div>
{{ end }}
