{{- if .Site.Params.algolia }}
{{- $indexURL := "" }}
{{- if .Site.Params.algolia }}
    {{- $tmpl := resources.Get "algolia/index.json" }}
    {{- $index := $tmpl | resources.ExecuteAsTemplate "algolia/index.json" . }}
    {{- $indexURL = $index.Permalink }}
{{- end -}}
<div class="modal modal-lg fade" id="search-modal" tabindex="-1" aria-hidden="true" data-index="{{ $indexURL }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="algolia-container">
                </div>
            </div>
        </div>
    </div>
</div>
{{- end }}
