<div class="modal fade" id="comment-reply-modal" tabindex="-1" aria-labelledby="comment-reply-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comment-reply-modal-title">
                    {{ i18n "comments_reply_to" }} <span class="fw-bold" id="comment-reply-modal-to"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{- partial "staticman/reply-form" . }}
            </div>
        </div>
    </div>
</div>
