{{- if default false .Site.Params.post.featuredImage -}}
  {{- if .Params.images -}}
    {{- $formats := slice "avif" "webp" "jxl" -}}
    <picture>
      {{- $img := index .Params.images 0 -}}
      {{- $ext := $img | path.Ext }}
      {{- range $formats -}}
        {{- $filename := replace $img $ext (printf ".%s" .) -}}
        {{- if and (not (strings.HasSuffix $ext .)) (fileExists (path.Join "static" $filename)) -}}
          <source srcset="{{ $filename | absURL }}" type="image/{{ . }}" />
        {{- end -}}
      {{- end -}}
      <img class="post-featured-img w-100 mb-3" alt="{{ .Title }}" src="{{ $img | absURL  }}" loading="lazy"/>
    </picture>
  {{- else -}}
    {{- $images := .Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- with $featured -}}
    <img class="post-featured-img w-100 mb-3" alt="{{ .Title }}" src="{{ $featured.Permalink }}" loading="lazy"/>
    {{- end -}}
  {{- end -}}
{{- end -}}
