<div class="post-meta mb-3">
  {{- if default .Site.Params.postDate .Params.postDate }}
  {{- $dateParams := dict "createdOn" .Date.Local }}
  {{- if gt .Lastmod .Date }}
    {{- $dateParams = merge $dateParams (dict "updatedOn" .Lastmod.Local) }}
  {{- end }}
  <span class="post-date me-1 mb-1" title="{{ i18n "post_date" $dateParams }}">{{- .Date | time.Format $.Site.Params.dateFormat }}</span>
  {{- end }}
  {{- if default .Site.Params.readingTime .Params.readingTime -}}
  <span class="post-reading-time me-1 mb-1">{{- i18n "reading_time" . }}</span>
  {{- end }}
  {{- range $key, $value := .Site.Taxonomies }}
    {{- $taxonomies := ($.GetTerms $key).ByTitle }}
    {{- if eq $.Site.Params.taxonomySortingMethod "popularity" }}{{ $taxonomies = (sort $taxonomies ".Data.Pages" "desc") }}{{ end }}
    {{- range $taxonomies -}}
    <a href="{{ .RelPermalink }}" class="btn btn-sm btn-secondary mb-1 me-2 py-0 pe-1 post-taxonomy post-taxonomy-sm post-{{ $key | singularize }}">
      {{- if eq $key "series" }}
      <i class="fas fa-fw fa-columns me-1"></i>
      {{- else if eq $key "categories" }}
      <i class="fas fa-fw fa-folder me-1"></i>
      {{- else if eq $key "authors" }}
      <i class="fas fa-fw fa-user me-1"></i>
      {{- end }}
      {{- .Name | title -}}
    </a>
    {{- end }}
  {{- end }}
</div>
