{{- if or .PrevInSection .NextInSection -}}
<div class="post-navs d-flex justify-content-evenly">
  {{- with .PrevInSection -}}
  <div class="post-nav post-prev">
    <i class="fas fa-fw fa-chevron-circle-down post-prev-icon" data-fa-transform="rotate-90"></i>
    <a href="{{ .Permalink }}">{{ partial "helpers/title" . }}</a>
  </div>
  {{- end -}}
  {{- with .NextInSection -}}
  <div class="post-nav post-next">
    <a href="{{ .Permalink }}">{{ partial "helpers/title" . }}</a>
    <i class="fas fa-fw fa-chevron-circle-down post-next-icon" data-fa-transform="rotate-270"></i>
  </div>
  {{- end -}}
</div>
{{- end -}}
