<div class="post-panel-wrapper">
  <div class="d-flex flex-column component rounded post-panel">
    {{ partial "hooks/post-panel-begin" . }}
    <a class="action action-panel-toggler" role="button" title="Panel toggler">
      <i class="fas fa-fw fa-chevron-circle-down"></i>
    </a>
    {{ partial "post/panel/sidebar-toggler" . }}
    {{ partial "post/panel/translations" . }}
    {{ partial "post/panel/reward" . }}
    {{ partial "post/panel/copyright" . }}
    {{ partial "post/panel/comments" . }}
    {{ partial "post/panel/toc" . }}
    {{ partial "hooks/post-panel-end" . }}
  </div>
</div>
