{{- $count := default 5 .Site.Params.relatedPostCount -}}
{{- if $count -}}
  {{- with (.Site.RegularPages.Related . | first $count) -}}
  <section class="related-posts">
    <h3>{{ T "related_posts" }}</h3>
    <ul class="related-posts">
      {{- range . -}}
	  {{ if .Site.Params.titleCase }}
      <li><a href="{{ .Permalink }}">{{ title .Title }}</a></li>
	  {{ else }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
	  {{ end }}
      {{- end -}}
    </ul>
  </section>
  {{- end -}}
{{- end -}}
