{{- $reward := .Site.Params.reward }}
{{- if and $reward (default true .Params.reward) -}}
{{- $icons := dict "wechat" "weixin" -}}
<div class="modal fade" id="rewardModal" tabindex="-1" aria-labelledby="rewardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content surface">
      <div class="modal-header">
        <h5 class="modal-title text-surface" id="rewardModalLabel"><i class="fas fa-fw fa-coffee me-1"></i>{{ i18n "buy_me_a_coffee" }}</h5>
        <a href="#" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs mb-3" role="tablist">
          {{- $index := 0 -}}
          {{- range $key, $value := $reward -}}
          <li class="nav-item text-nowrap" role="presentation">
            <a class="nav-link{{ if eq $index 0 }} active{{ end }}" id="reward-{{ $key }}-tab" data-bs-toggle="tab" href="#reward-{{ $key }}" role="tab" aria-controls="reward-{{ $key }}" aria-selected="true">
              <i class="fab fa-fw fa-{{ default $key (index $icons $key) }} me-1"></i>{{ i18n $key }}
            </a>
          </li>
          {{- $index = add $index 1 -}}
          {{- end -}}
        </ul>
        <div class="tab-content" id="rewardTabContent">
          {{- $index = 0 -}}
          {{- range $key, $value := $reward -}}
          <div class="tab-pane fade post-reward-content text-center show{{ if eq $index 0 }} active{{ end }}" id="reward-{{ $key }}" role="tabpanel" aria-labelledby="reward-{{ $key }}-tab">
            <img class="img-fluid post-reward-img" src="{{ absURL $value }}" loading="lazy" data-viewer-invisible />
          </div>
          {{- $index = add $index 1 -}}
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
</div>
{{- end -}}
