{{ if .Params.images }}
  {{- $formats := slice "avif" "webp" "jxl" -}}
  <picture>
  {{- $img := index .Params.images 0 -}}
  {{- $ext := $img | path.Ext }}
  {{- range $formats -}}
    {{- $filename := replace $img $ext (printf ".%s" .) -}}
    {{- if and (not (strings.HasSuffix $ext .)) (fileExists (path.Join "static" $filename)) -}}
      <source srcset="{{ $filename | absURL }}" type="image/{{ . }}" />
    {{- end -}}
  {{- end -}}
    <img class="img-fluid" alt="{{ .Title }}" src="{{ $img | absURL  }}" loading="lazy"/>
  </picture>
{{- else -}}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
  {{- with $featured -}}
  {{- $smallImage := $featured.Resize "180x" -}}
  {{- $largeImage := $featured.Resize "500x" -}}
  <picture>
    <source srcset="{{ $largeImage.Permalink }}" media="(max-width: 576px)">
    <img class="img-fluid" alt="{{ .Title }}" src="{{ $smallImage.Permalink  }}" data-src="{{ $featured.Permalink }}" loading="lazy"/>
  </picture>
  {{- end -}}
{{- end -}}
