{{- $enable := and (default true .Params.toc) (default true .Site.Params.toc) -}}
{{- $wordCount := default 280 .Site.Params.tocWordCount -}}
{{- $toc := .TableOfContents -}}
{{- $valid := and $toc (and (ne $toc "<nav id=\"TableOfContents\"></nav>") (gt .WordCount $wordCount)) -}}
{{- if and $enable $valid -}}
<div class="accordion accordion-flush position-sticky surface post-toc" id="accordionTOC" style="top: 84px; z-index: 1;">
  <div class="accordion-item">
    <div class="accordion-header" id="headingTOC" data-toggle="collapse" data-target="#collapseTOC" aria-expanded="true" aria-controls="collapseTOC">
      {{ i18n "table_of_contents" }}
    </div>
    <div id="collapseTOC" class="accordion-collapse collapse" aria-labelledby="headingTOC" data-parent="#accordionTOC">
      <div class="accordion-body">
        {{ $toc }}
      </div>
    </div>
  </div>
</div>
{{- end -}}
