{{ if and .IsTranslated }}
<div class="post-translations nav-item dropdown mr-2 d-inline-flex">
  <a class="nav-link p-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-fw fa-language mr-1"></i>{{ $.Language.LanguageName }}
  </a>
  <div class="dropdown-menu">
    {{- range .Translations -}}
    <a class="dropdown-item post-translation" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{- end -}}
  </div>
</div>
{{ end }}
