$defaultFontSizes: map-get($utilities, 'font-size');
$values: map-merge(map-get($defaultFontSizes, 'values'), $fontSizes);
$utilities: map-merge($utilities, (
    font-size: map-merge($defaultFontSizes, ('values': $values)),
));

$whiteSpace: map-get($utilities, 'white-space');
$values: map-merge(map-get($whiteSpace, 'values'),  (pre-wrap: pre-wrap));
$utilities: map-merge($utilities, (
    white-space: map-merge($whiteSpace, ('values': $values)),
));

