$default-font-sizes: map-get($utilities, 'font-size');
$values: map-merge(map-get($default-font-sizes, 'values'), $custom-font-sizes);
$utilities: map-merge(
  $utilities,
  (
    font-size: map-merge($default-font-sizes, ('values': $values)),
  )
);
$white-space: map-get($utilities, 'white-space');
$values: map-merge(map-get($white-space, 'values'), (pre-wrap: pre-wrap));
$utilities: map-merge(
  $utilities,
  (
    white-space: map-merge($white-space, ('values': $values)),
  )
);
