<!doctype html>
{{- $color := $.Site.Params.color -}}
<html lang="{{ .Lang }}"
  {{ if in (slice "light" "dark") $color }}{{ printf " data-mode=\"%s\"" $color | safeHTMLAttr }}{{ end }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{- block "title" . -}}{{- partial "head/title" . -}}{{- end -}}</title>
    {{- partial "head.html" . -}}
    {{- block "head-end" . -}}{{- end -}}
    {{- partial "hooks/head-end" . -}}
  </head>
  <body>
    {{- $bootstrapScript := resources.Get "js/bootstrap.template.js" | resources.ExecuteAsTemplate "js/bootstrap.js" . | resources.Minify | resources.Fingerprint -}}
    <script src="{{ $bootstrapScript.Permalink }}" integrity="{{ $bootstrapScript.Data.Integrity }}" crossorigin="anonymous"></script>
    {{- partial "header.html" . -}}
    {{- partial "hooks/main-begin" . -}}
    <main role="main" class="container{{ if default false .Site.Params.fullWidth }}-fluid{{ end }}">
      <div class="row content">
        {{- block "content" . -}}{{- end -}}
      </div>
    </main>
    {{- partial "hooks/main-end" . -}}
    {{- partial "footer.html" . -}}
    {{- partial "body-end" . -}}
  </body>
</html>
