{{ define "content" }}
<div class="{{ if default true .Params.sidebar }}col-lg-8{{ else }}col-lg-12{{ end }}">
    {{- partial "breadcrumb" . -}}
    <div class="contact row component card">
      <div class="card-header">
        <h1 class="card-title">{{ .Title }}</h1>
      </div>
      <div class="card-body">
        {{- if $.Site.Params.contact.endpoint -}}
          {{- partial "contact/form" . -}}
        {{- else -}}
          {{- partial "contact/form-netlify" . -}}
        {{- end -}}
        </div>
    </div>
</div>
{{- partial "sidebar" . -}}
{{ end }}
