{{ define "content" }}
<div class="col error text-center my-4">
  <div class="error-icon mb-4"><i class="fas fa-5x fa-fw fa-offline text-danger"></i></div>
  <h1 class="error-title mb-4">{{ i18n "offline_title" }}</h1>
  <div class="mb-4 error-info text-muted">{{ i18n "offline_info" | safeHTML }}</div>
  <div class="mb-4 error-actions">
    <a class="error-action btn btn-sm btn-outline-primary" href="{{ strings.TrimPrefix "/" $.Site.LanguagePrefix | absURL }}">
      <i class="fas fa-fw fa-home me-1"></i>{{ i18n "home" }}
    </a>
    <a class="error-action btn btn-sm btn-outline-success" href="javascript: window.history.back();">
      <i class="fas fa-fw fa-chevron-circle-down me-1" data-fa-transform="rotate-90"></i>{{ i18n "go_back" }}
    </a>
    <a class="error-action btn btn-sm btn-outline-warning" href="javascript: window.location.reload();">
      <i class="fas fa-fw fa-redo-alt me-1"></i>{{ i18n "try_again" }}
    </a>
  </div>
</div>
{{ end }}
