{{ define "content" }}
<div class="col-lg-8">
  <div class="container">
    {{- partial "breadcrumb" . -}}
    <div class="taxonomys">
      {{- range .Paginator.Pages -}}
      {{- $count := len .Pages -}}
      <div class="taxonomy row card component">
        <div class="card-header">
          <h2 class="taxonomy-title card-title fs-4 my-2 text-surface">
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          </h2>
        </div>
        <div class="card-body">
          <div class="taxonomy-meta mt-1 mb-3">
            <span class="taxonomy-post-count"><i class="fas fa-fw fa-file-alt me-1"></i>{{ i18n "post_count" (dict "Count" $count) }}</span>
          </div>
          {{- $postCount := $.Site.Params.taxonomyPostCount -}}
          {{- if $postCount -}}
          <ul class="taxonomy-posts post-list list-unstyled ms-1">
            {{- range first $postCount .Pages -}}
            <li class="taxonomy-post mb-2">
              <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
              <span class="float-end post-date">{{ .Date | time.Format $.Site.Params.dateFormat }}</span>
            </li>
            {{- end -}}
          </ul>
          {{- end -}}
        </div>
        {{- if gt $count $postCount -}}
        <div class="card-footer">
          <a class="btn btn-sm btn-outline-primary" href="{{ .Page.Permalink }}">{{ i18n "read_more" }}</a>
        </div>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
    {{- partial "pagination" . -}}
  </div>
</div>
{{- partial "sidebar" . -}}
{{ end }}
