{{ define "content" }}
<div class="col-lg-8">
  <div class="container">
    {{- partial "breadcrumb" . -}}
    <div class="terms row surface">
      <h1>{{ .Title }}</h1>
      <div>
        {{- range .Data.Terms.ByCount -}}
        <a href="{{ .Page.Permalink }}" class="post-taxonomy rounded btn me-3 mb-3" title="{{ .Page.Title }}">
          {{ .Page.Title }} <span class="badge rounded-pill">{{ .Count }}</span>
        </a>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{- partial "sidebar" . -}}
{{ end }}
