.hook {
  width: 100%;
  text-align: center;
  color: var(--hbs-secondary-text);
  background-color: var(--hbs-secondary);
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: .25rem;
  overflow-wrap: break-word;
}
