html {
  position: relative; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-flow: column; }

main {
  margin-top: 70px; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5 {
  margin: 1.5rem 0; }

pre {
  padding: 1rem;
  border-radius: .25rem; }

.featured-posts, .recent-posts {
  padding-left: 1.5rem; }

.post-date, .post-tags, .post-categories, .post-translations {
  display: inline-block; }

.post-content a {
  color: #0d6efd; }

.post-comments {
  padding-top: 1rem; }

.footer {
  font-size: 0.9rem;
  background-color: #f5f5f5;
  margin-top: auto; }

.social-links .nav-link {
  padding: .5rem; }

.utterances {
  max-width: 100%; }

.cloudmusic-iframe {
  --aspect-ratio: 50%;
  max-height: 200px; }

.scroll-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: none; }

.post-toc {
  float: right;
  background-color: #e9ecef;
  color: #212529;
  padding: .5rem;
  padding-right: 2rem; }

.post-toc ul {
  margin-bottom: 0; }

.archives {
  list-style: none; }
