blockquote{
  color: #555;
  padding: 1.2rem 2.5rem .2rem;
  border-left: .5rem solid #78c0a8;
  position: relative;
  background: #ededed;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}
