.font-size-xs {
  font-size: {{ default ".8rem" .Site.Params.fontSize.extraSmall }};
}

.font-size-sm {
  font-size: {{ default ".9rem" .Site.Params.fontSize.small }};
}

.font-size-lg {
  font-size: {{ default "1.1rem" .Site.Params.fontSize.large }};
}

.font-size-xl {
  font-size: {{ default "1.2rem" .Site.Params.fontSize.extraLarge }};
}


{{- $fixedHeader := default true .Site.Params.fixedHeader -}}

main {
  margin-top: {{ if $fixedHeader }}84px{{ else }}20px{{ end }};
}

:target::before {
  height: {{ if $fixedHeader }}64px{{ else }}0{{ end }};
  margin-top: {{ if $fixedHeader }}-64px{{ else }}0{{ end }};
}
