html {
  position: relative;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote{
  color: #555;
  padding: 1.2rem 2.5rem .2rem;
  border-left: .5rem solid #78c0a8;
  position: relative;
  background: #ededed;
  display: flex;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
}

pre {
  padding: 1rem;
  border-radius: .25rem;
}

/* Main */

main {
  margin-top: 84px;
}

/* Header */

.logo {
  width: 48px;
  height: 48px;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar section {
  margin-bottom: 1rem;
}

.featured-posts ul,
.recent-posts ul {
  padding-left: 1.5rem;
}

/* Footer */

.footer {
  font-size: 0.9rem;
  background-color: #f5f5f5;
  margin-top: auto;
}

.social-links .nav-link {
    padding: .5rem;
}

/* Post */

.post {
  display: flex;
  margin-bottom: 1rem;
}

.post-title {
  margin-bottom: .5rem;
}

.post-meta {
  margin-bottom: .5rem;
}

.post-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-category, .post-tag {
  margin: .1rem;
}

.post-toc {
  float: right;
  padding: .5rem;
  padding-right: 2rem;
  margin-left: 1rem;
}

.post-toc ul {
  list-style: initial;
  margin-bottom: 0;
}

.post-content {
  margin-bottom: 1rem;
}

.post-content a {
  color: var(--bs-primary);
}

.post-comments {
  padding-top: 1rem;
}

.post-comments .utterances {
  max-width: 100%;
}

/* Archive */

.archives {
  list-style: none;
}

/* Scroll Top */
.scroll-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: none;
}

/* Search */

.search-results {
  padding: .5rem;
}

.search-result-title {
  font-size: 1.3rem;
}

.search-result-title a {
  color: var(--bs-primary);
}
