{{- if isset $.Site.Params "staticman" }}
    {{- template "walk-comments" . }}

    {{/* generate comments pages */}}
    {{- $paginate := default 10 $.Site.Params.staticman.paginate }}
    {{- $sorting := default "asc" $.Site.Params.staticman.sorting }}
    {{- $comments := .Scratch.Get "comments" }}

    {{- partial "staticman/recaptcha" . }}
    {{- partial "staticman/reply-modal" . }}
    {{- partial "staticman/form" . }}

    {{- if $comments }}
        {{- $tmpl := resources.Get "templates/staticman/comments.html" }}
        {{- $commentsPages := div (add (len $comments) (sub $paginate 1)) $paginate }}
        {{- $page := . }}
        {{- range seq $commentsPages }}
            {{- $commentsPageURL := printf "%s/comments/page/%d" $.RelPermalink . }}
            {{- $page.Scratch.Set "commentsPage" . }}
            {{- $commentsPage := $tmpl | resources.ExecuteAsTemplate $commentsPageURL $page }}
            <a class="d-none" href="{{- $commentsPage.Permalink }}">{{- $commentsPage.Permalink }}</a>
        {{- end }}
        
        {{- partial "staticman/list" (dict
            "Comments" $comments
            "AllComments" (.Scratch.Get "allComments")
            "Page" 1
            "Sorting" $sorting
            "DateFormat" $.Site.Params.dateFormat
            "PageSize" $paginate
        ) }}
        {{- partial "staticman/pagination" (dict
            "TotalCount" (len $comments)
            "Page" 1
            "PageSize" $paginate
            "PageLink" $.Permalink
        ) }}
    {{- end }}
{{- end }}

{{/* walk through the comments directory to collect comments and their children of current page */}}
{{- define "walk-comments" }}
    {{- $scratch := .Scratch }}
    {{- with .Resources.Match (printf "comments/%s/*" .Lang) }}
        {{- range . }}
            {{- $comment := .Content | transform.Unmarshal }}
            {{- $children := slice }}
            {{- $scratch.SetInMap "allComments" $comment._id $comment }}
            {{- with $.Resources.Match (printf "comments/%s/%s/*" $.Lang $comment._id) }}
                {{- range . }}
                    {{- $child := .Content | transform.Unmarshal }}
                    {{- $children = $children | append $child }}
                    {{/* allComments is a map that mapping from comment id to comment instance */}}
                    {{/* it's used to get the information other comment reply to */}}
                    {{- $scratch.SetInMap "allComments" $child._id $child }}
                {{- end }}
            {{- end }}
            
            {{/* comments stores the first level comments and their children of current page */}}
            {{- $scratch.Add "comments" (slice (dict
                "Comment" $comment
                "Children" $children
            )) }}
        {{- end }}
    {{- end }}
{{- end }}
