{{- if isset $.Site.Params "staticman" }}
    {{- $slug := printf "%scomments/%s" .File.Dir .Lang }}
    {{- $sorting := default "asc" $.Site.Params.staticman.sorting }}
    {{- $reCaptchaKey := default "" $.Site.Params.staticman.reCaptchaKey }}
    {{- $reCaptchaSecret := default "" $.Site.Params.staticman.reCaptchaSecret }}
    {{- $extraFields := default slice $.Site.Params.staticman.extraFields }}
    {{- if $reCaptchaKey }}
    <script>
        function renderCaptchas() {
            document.querySelectorAll('.g-recaptcha').forEach(function(item) {
                const form = item.parentElement.closest('form')
                const button = form.querySelector('button[type="submit"]')
                grecaptcha.render(item, {
                    sitekey : '{{ $reCaptchaKey }}',
                    callback: function() {
                        button.removeAttribute('disabled')
                    },
                    'expired-callback': function() {
                        button.setAttribute('disabled', 'true')
                    },
                    'error-callback': function() {
                        button.setAttribute('disabled', 'true')
                    },
                });
            })
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=renderCaptchas&render=explicit" async defer></script>
    {{- end }}

    {{- template "render-form" (dict
        "Id" "staticman-comment-form"
        "Slug" $slug
        "ReCaptchaKey" $reCaptchaKey
        "ReCaptchaSecret" $reCaptchaSecret
        "ExtraFields" $extraFields
    ) }}

    {{- with .Resources.Match (printf "comments/%s/*" .Lang) }}
        <div class="staticman-comments py-3">
            {{- template "render-comments" ( dict
                "Comments" .
                "Resources" $.Resources 
                "Lang" $.Lang
                "DateFormat" $.Site.Params.DateFormat
                "Sorting" $sorting
            ) }}
        </div>
    {{- end }}

    <div class="modal fade" id="comment-reply-modal" tabindex="-1" aria-labelledby="comment-reply-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comment-reply-modal-title">
                        {{ i18n "comments_reply_to" }} <span class="fw-bold" id="comment-reply-modal-to"></span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{- template "render-form" (dict
                        "Id" "staticman-reply-form"
                        "Slug" $slug
                        "ReCaptchaKey" $reCaptchaKey
                        "ReCaptchaSecret" $reCaptchaSecret
                        "ExtraFields" $extraFields
                    ) }}
                </div>
            </div>
        </div>
    </div>
{{- end }}

{{- define "render-form" }}
<form id="{{ .Id }}" class="needs-validation mb-3" novalidate>
    <input name="slug" type="hidden" value="{{ .Slug }}">
    <input name="reply_to" type="hidden" value="">
    <input name="root_id" type="hidden" value="">
    <div class="row g-3 mb-2">
        <div class="form-floating col-4 mb-2">
            <input class="form-control form-control-sm" aria-label="{{ i18n "comments_name" }}" name="name" type="text" id="comment-name" required />
            <label for="languages-select">{{ i18n "comments_name" }}</label>
        </div>
        <div class="form-floating col-4 mb-2 ms-auto">
            <input class="form-control form-control-sm" aria-label="{{ i18n "comments_email" }}" name="email" type="email" id="comment-email" required />
            <label for="comment-email">{{ i18n "comments_email" }}</label>
        </div>
        {{- if in .ExtraFields "url" }}
        <div class="form-floating col-4 mb-2">
            <input class="form-control form-control-sm" aria-label="{{ i18n "comments_url" }}" name="url" type="url" id="comment-url" />
            <label for="comment-url">{{ i18n "comments_url" }}</label>
        </div>
        {{- end }}
        <div class="form-floating col-12 mb-2">
            <textarea class="form-control" aria-label="{{ i18n "comments_message" }}" name="message" id="comment-message" required></textarea>
            <label for="comment-message">{{ i18n "comments_message" }}</label>
        </div>
    </div>
    <div class="text-end">
        {{- if .ReCaptchaKey }}
            <input type="hidden" name="reCaptchaKey" value="{{ .ReCaptchaKey }}">
            <input type="hidden" name="reCaptchaSecret" value="{{ .ReCaptchaSecret }}">
            <div class="g-recaptcha mb-2"
                data-sitekey="{{ .ReCaptchaKey }}"
                data-callback="captchaCallback"
                data-expired-callback="captchaExpired"
                data-error-callback="captchaError"
            ></div>
        {{- end }}
        <button class="btn btn-primary" type="submit" disabled>{{ i18n "comments_submit" }}</button>
    </div>
</form>
{{- end }}

{{- define "render-comments" }}
  {{/* mapping from the comment id to the comment variable */}}
  {{- $comments := dict }}
  {{- range .Comments }}
    {{- $comment := .Content | transform.Unmarshal }}
    {{- $comments = merge $comments (dict $comment._id $comment) }}
  {{- end }}
  {{- range sort $comments "date" $.Sorting }}
    <div class="staticman-comment pt-3 pb-2 border-top border-secondary border-opacity-25" id="comment-{{ ._id }}">
        <div class="mb-2 d-flex flex-wrap align-items-center">
            <img class="staticman-comment-avatar rounded-circle me-2" src="https://www.gravatar.com/avatar/{{.email}}" width="32px" height="32px" />
            {{- if .url }}
                <a class="staticman-comment-name fw-bold me-2" href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a>
            {{- else }}
                <span class="staticman-comment-name fw-bold me-2">{{ .name }}</span>
            {{- end }}
            <span class="staticman-comment-date mtext-muted fs-sm" data-timestamp="{{ .date }}">{{ .date | int | time | time.Format $.DateFormat }}</span>
        </div>
        <div class="mb-2 text-surface">
          {{- if .reply_to }}
            {{- with index $comments .reply_to }}
              <a class="fw-bold me-2" href="#comment-{{ .reply_to }}">@{{ .name }}</a>
            {{- end }}
          {{- end }}
          {{- $message := replaceRE "(?i)<script[^>]*>[^<]*</script>" "<span class=\"text-muted\">~~invalid message~~</span>" .message }}
          {{- $message | markdownify }}
        </div>
        {{- $rootId := default ._id $.RootId }}
        <div class="mb-2">
            <button class="btn btn-sm btn-secondary staticman-reply-button px-1 py-0" data-bs-toggle="modal" data-bs-target="#comment-reply-modal"
                data-root-id="{{ $rootId }}" data-comment-id="{{ ._id }}" data-comment-name="{{ .name }}">
                <i class="fas fa-fw fa-reply"></i> {{ i18n "comments_reply" }}
            </button>
        </div>
        {{- with $.Resources.Match (printf "comments/%s/%s/*" $.Lang ._id) }}
            <div class="ps-3 pt-1 border-start border-secondary border-opacity-25">
                {{- template "render-comments" ( dict
                    "Comments" .
                    "Resources" $.Resources 
                    "Lang" $.Lang
                    "DateFormat" $.DateFormat
                    "Sorting" $.Sorting
                    "RootId" $rootId
                ) }}
            </div>
        {{- end }}
      </div>
  {{- end }}
{{- end }}
