.search-stat,
.search-result-content {
  color: var(--hbs-secondary-text);
}

.btn-search {
  color: var(--hbs-accent);
  background-color: #fff;
}

.search-result-meta {
  color: var(--hbs-secondary-text);
}

.search-result-taxonomy {
  margin: 0 .25rem .25rem 0;
  color: var(--hbs-secondary-text);

  +.search-result-taxonomy:before {
    content: "·";
    margin-right: .5rem;
  }
}
