.search-form {
  .form-control {
    background-color: var(--hbs-surface);
    border-color: var(--hbs-surface);
    color: var(--hbs-secondary-text);
  
    &:focus {
      color: var(--hbs-primary-text);
    }
  }
}

.search-stat,
.search-result-content {
  color: var(--hbs-secondary-text);
}

.btn-search {
  background-color: transparent;
  color: var(--hbs-accent);
  z-index: 4!important;
}

.search-result-taxonomy {
  margin: 0 .25rem .25rem 0;
  color: var(--hbs-secondary-text);

  +.search-result-taxonomy:before {
    content: "·";
    margin-right: .5rem;
  }
}

$startContent: "★★★★★";

.search-result-score {
  font-size: 20px;
  color: var(--hbs-disabled-text);
  position: relative;
  
  &::before {
    content: $startContent;
  }

  span {
    color: var(--hbs-accent);
    left: 0;
    overflow: hidden;
    position: absolute;

    &::before {
      content: $startContent;
    }
  }
}
