{{- $mainStyle := resources.Get "main/index.css" -}}
{{- $configStyle := resources.Get "main/config.css" | resources.ExecuteAsTemplate "config.css" . -}}
{{- $highlightStyle := resources.Get "css/highlight.css" -}}
{{- $customStyle := resources.Get "css/custom.css" -}}
{{- $style := slice $mainStyle $configStyle $highlightStyle $customStyle | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint -}}
{{- $.Scratch.Add "hbs-assets" (slice (dict "url" $style.Permalink "revision" ($.Scratch.Get "null"))) -}}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{- range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ absURL . }}" crossorigin="anonymous">
{{- end -}}
