{{- $dir := "" -}}
{{- if eq .Site.Language.LanguageDirection "rtl" -}}
  {{- $dir = ".rtl" -}}
{{- end -}}
{{- $options := dict "targetPath" (printf "assets/main/bundle%s.min.css" $dir) "outputStyle" "compressed" "includePaths" (slice "node_modules") -}}
{{- $variables := resources.Get "main/scss/_variables.scss" | resources.ExecuteAsTemplate "main/scss/_variables.scss" . -}}
{{- $config := resources.Get "main/scss/_config.scss" | resources.ExecuteAsTemplate "main/scss/_config.scss" . -}}
{{- $main := resources.Get (printf "main/scss/index%s.scss" $dir) -}}
{{- $style := slice $variables $config $main | resources.Concat (printf "main/scss/main%s.css" $dir) | toCSS $options | resources.PostCSS | fingerprint | resources.PostProcess -}}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{- range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ absURL . }}" crossorigin="anonymous">
{{- end -}}
