{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
<div class="accordion profile profile-compact">
  <div class="accordion-item card row component">
    <div class="accordion-header card-header border-0" id="profile-header">
      <a 
        class="accordion-button d-lg-none mb-2 shadow-none p-0 bg-transparent text-surface{{ if $collapsed }} collapsed{{ end }}"
        role="button" data-bs-toggle="collapse" href="#profile" aria-expanded="{{ if $collapsed }}false{{ else }}true{{ end }}" aria-controls="profile">
        {{ i18n "profile" }}
      </a>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block{{ if not $collapsed }} show{{ end }}" id="profile" aria-labelledby="profile-header">
      <div class="d-flex">
        <div class="d-flex flex-shrink-0 justify-content-center align-items-center">
          {{- partial "sidebar/profile/avatar" . -}}
        </div>
        <div class="profile-meta flex-grow-1 ms-3 text-center">
          {{- partial "sidebar/profile/meta" . -}}
        </div>
      </div>
      {{- partial "sidebar/profile/social-links" . -}}
    </div>
  </div>
</div>
