{{- $github := dict "github" (dict "url" "https://github.com/%s" "title" "GitHub") -}}
{{- $gitlab := dict "gitlab" (dict "url" "https://gitlab.com/%s" "title" "GitLab") -}}
{{- $twitter := dict "twitter" (dict "url" "https://twitter.com/%s") -}}
{{- $facebook := dict "facebook" (dict "url" "https://facebook.com/%s" "icon" "fab fa-facebook-f") -}}
{{- $facebookGroup := dict "facebookgroup" (dict "url" "https://facebook.com/groups/%s" "icon" "fab fa-facebook-square" "title" "Facebook Group") -}}
{{- $linkedin := dict "linkedin" (dict "url" "https://linkedin.com/%s" "icon" "fab fa-linkedin-in" "title" "LinkedIn") -}}
{{- $stackoverflow := dict "stackoverflow" (dict "url" "https://stackoverflow.com/users/%s" "icon" "fab fa-stack-overflow" "title" "Stack Overflow") -}}
{{- $weibo := dict "weibo" (dict "url" "https://weibo.com/%s") -}}
{{- $zhihu := dict "zhihu" (dict "url" "https://www.zhihu.com/people/%s") -}}
{{- $quora := dict "quora" (dict "url" "https://www.quora.com/profile/%s") -}}
{{- $instagram := dict "instagram" (dict "url" "https://www.instagram.com/%s") -}}
{{- $tumblr := dict "tumblr" (dict "url" "https://%s.tumblr.com") -}}
{{- $reddit := dict "reddit" (dict "url" "https://www.reddit.com/user/%s") -}}
{{- $telegram := dict "telegram" (dict "url" "https://t.me/%s" "icon" "fab fa-telegram-plane") -}}
{{- $qq := dict "qq" (dict "url" "http://wpa.qq.com/msgrd?v=3&uin=%s&site=qq&menu=yes" "title" "QQ") -}}
{{- $dockerhub := dict "dockerhub" (dict "url" "https://hub.docker.com/u/%s" "icon" "fab fa-docker" "title" "Docker Hub") -}}
{{- $bitbucket := dict "bitbucket" (dict "url" "https://bitbucket.org/%s") -}}
{{- $kaggle := dict "kaggle" (dict "url" "https://kaggle.com/%s") -}}
{{- $youtube := dict "youtube" (dict "url" "https://www.youtube.com/channel/%s" "icon" "fab fa-youtube") -}}
{{- $discord := dict "discord" (dict "url" "https://discord.com/invite/%s" "icon" "fab fa-discord") -}}
{{- $discourse := dict "discourse" (dict "url" "%s" "icon" "fab fa-discourse") -}}
{{- $items := merge $github $gitlab $twitter $facebook $facebookGroup $linkedin $stackoverflow $weibo $zhihu $quora $instagram $discourse $discord $youtube -}}
{{- $lastfm := dict "lastfm" (dict "url" "https://www.last.fm/user/%s" "title" "Last.fm") -}}
{{- $bilibili := dict "bilibili" (dict "url" "https://space.bilibili.com/%s" "title" "bilibili" "icon" "fab fa-bilibili") -}}
{{- $tiktok := dict "tiktok" (dict "url" "https://www.tiktok.com/@%s" "title" "TikTok" "icon" "fab fa-tiktok") -}}
{{- $pinterest := dict "pinterest" (dict "url" "https://www.pinterest.com/%s" "icon" "fab fa-pinterest") -}}
{{- $items = merge $items $tumblr $reddit $telegram $qq $dockerhub $bitbucket $kaggle $lastfm $bilibili $tiktok $pinterest -}}
{{- $size := default "" .size -}}
<nav class="social-links nav justify-content-center{{ with .class }} {{ . }}{{ end }}">
{{- range $key, $user := .links -}}
  {{- if eq $key "email" -}}
    <a class="nav-link social-link" href="mailto:{{ $user }}" title="{{ title $key }}">
      <i class="fas fa-fw{{ with $size }} {{ . }}{{ end }} fa-envelope"></i>
    </a>
  {{- else if eq $key "medium" -}}
    {{- $url := urls.Parse $user -}}
    {{- if eq $url.Host "" -}}
      {{- $url = printf "https://medium.com/@%s" $user | urls.Parse -}}
    {{- end -}}
      <a class="nav-link social-link" target="_blank" href="{{ $url.String }}" title="Medium" rel="noopener noreferrer">
        <i class="fab fa-fw{{ with $size }} {{ . }}{{ end }} fa-medium-m"></i>
      </a>
  {{- else -}}
    {{- with index $items $key -}}
      <a class="nav-link social-link" target="_blank" href="{{ printf .url $user }}" title="{{ default (title $key) .title }}" rel="noopener noreferrer">
        <i class="fa-fw{{ with $size }} {{ . }}{{ end }} {{ default ( printf "fab fa-%s" $key ) .icon }}"></i>
      </a>
    {{- end -}}
  {{- end -}}
{{- end -}}
  {{- with .OutputFormats.Get "rss" -}}
    <a class="nav-link social-link" target="_blank" href="{{ .Permalink }}" title="RSS" rel="noopener noreferrer">
      <i class="fas fa-fw{{ with $size }} {{ . }}{{ end }} fa-rss"></i>
    </a>
  {{- end -}}
</nav>
