{{- partialCached "assets/main/js" . -}}
{{- partialCached "assets/icons/js" . -}}
{{- partial "assets/viewer/js" . -}}
{{- partial "assets/math/js" . -}}
{{- partial "assets/diagram/js" . -}}
{{- partial "plugins/addthis" . -}}
{{- partialCached "assets/google-analytics" . -}}
{{- partialCached "assets/baidu-analytics" . -}}
{{- partial "assets/search/js" . -}}
{{- partial "assets/masonry/js" . -}}
{{- partialCached "assets/docsearch/js" . -}}
{{- partial "hooks/body-end" . -}}
{{- partialCached "assets/service-worker/js" . -}}
