{{- partial "head/favicons" . -}}
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
{{- template "_internal/schema.html" . -}}
{{ template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . -}}
{{- partial "head/google-analytics" . -}}
{{- partial "head/site-verification" . -}}
{{- partial "head/baidu-analytics" . -}}
{{- partial "head/google-adsense" . -}}
{{ $style := resources.Get "scss/main.css" | resources.Fingerprint }}
<link rel=stylesheet href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{- $script := resources.Get "js/main.js" | resources.Fingerprint -}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{- partial "head/math" . -}}
<meta data-name="search-index" content="{{ absLangURL "index.json" }}">
{{- partial "head/custom" . -}}
