{{- partial "head/favicons" . -}}
<meta name="keywords" content="{{ if .IsPage }}{{ delimit .Keywords ", " }}{{ else }}{{ $.Site.Params.keywords }}{{ end }}" />
<meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ $.Site.Params.description }}{{ end }}" />
{{- template "_internal/schema.html" . -}}
{{ template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . -}}
{{- partial "head/meta" . -}}
{{- partial "head/feed" . -}}
{{- partial "head/site-verification" . -}}
{{- if eq .Permalink (absLangURL "search/") -}}
<meta data-name="search-index" content="{{ absLangURL "index.json" }}">
{{- end -}}
{{- partial "head/assets" . -}}
