<article class="row card post component">
  {{- if and (default true .Page.Site.Params.pinned) .Page.Params.pinned }}
    {{- $pinnedPosts := .PinnedPosts }}
    {{- with .Page.File.UniqueID }}
      {{- if in $pinnedPosts . }}
      <span class="post-pinned-icon position-absolute start-0 top-0 text-primary"><i class="fas fa-thumbtack" data-fa-transform="rotate-45"></i></span>
      {{- end }}
    {{- end }}
  {{- end }}
  <div class="card-header">
    <h2 class="card-title post-title my-2 fs-4">
      <a href="{{ .Page.RelPermalink }}">{{ partial "helpers/title" .Page }}</a>
    </h2>
  </div>
  <div class="card-body">
    {{- partial "post/thumbnail" .Page }}
    {{- partial "post/meta" .Page }}
    <div class="post-summary">
      {{- partial "post/excerpt" .Page }}
    </div>
  </div>
</article>
