<div class="container">
  {{- if not .IsHome -}}
    {{- partial "breadcrumb" . -}}
    {{- partial "sections" . -}}
  {{- end -}}
  {{- partial "hooks/list-begin" . -}}
  <div class="posts mb-4">
  {{- range .Paginator.Pages -}}
    <article class="row card post component">
      <div class="card-header">
        <h2 class="card-title post-title">
          {{- if and (default true $.Site.Params.pinned) .Params.pinned -}}
            {{- with .File.UniqueID -}}
              {{- if eq . ($.Scratch.Get "pinnedPost") -}}
              <i class="fas fa-fw fa-thumbtack"></i>
              {{- end -}}
            {{- end -}}
          {{- end -}}
          <a href="{{ .Permalink }}">{{ partial "helpers/title" . }}</a>
        </h2>
      </div>
      <div class="card-body">
        {{ if .Params.Images }}
        {{ partial "helpers/image" (dict "filename" (index .Params.Images 0) "alt" .Title "class" "img-fluid" "resources" .Resources) }}
        {{ end }}
        {{- partial "post/meta" . -}}
        <div class="post-summary">
          {{ partial "post/excerpt" . }}
        </div>
      </div>
    </article>
  {{- end -}}
  </div>
  {{- partial "hooks/list-end" . -}}
  {{- partial "pagination" . -}}
</div>
