{{- $pages := .Pages -}}
{{- if .IsHome -}}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- end -}}
<h1 class="pb-3 mb-3 border-bottom">{{ upper .Title }}</h1>
<div class="posts">
{{- range (.Paginate $pages).Pages -}}
  <div class="border-bottom mb-5 post">
    <h2 class="mb-3 post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{- partial "post-meta" . -}}
    <div class="mb-4 post-summary">
      {{- .Summary | truncate 320 -}}
    </div>
  </div>
{{- end -}}
</div>
{{- template "_internal/pagination.html" . -}}