{{- $pages := .RegularPages -}}
{{- if .IsHome -}}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- else -}}
{{- partial "breadcrumb" . -}}
<h1 class="pb-3 mb-3 border-bottom">{{ upper .Title }}</h1>
{{- end -}}
<div class="posts">
{{- range (.Paginate $pages).Pages -}}
  <div class="border-bottom mb-4 px-3 row post-item">
    {{- if .Params.Images -}}
    <img class="post-thumbnail" src="{{ index .Params.Images 0 }}"/>
    {{- end -}}
    <div class="post-body">
      <h2 class="mb-3 post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{- partial "post-meta" . -}}
      <div class="mb-4 post-summary">
        {{- .Summary | truncate 320 -}}
      </div>
    </div>
  </div>
{{- end -}}
</div>
{{- template "_internal/pagination.html" . -}}