<div class="mb-5 post-meta">
  <span class="mr-2 post-date">
    <i class="fas fa-fw fa-calendar-alt mr-1"></i> {{ .Date.Format "2006-01-02" }}
  </span>
  {{- $categories := (.GetTerms "categories") -}}
  {{- with $categories -}}
  <div class="mr-2 post-categories">
    <i class="fas fa-fw fa-folder mr-1"></i>
    {{- range $categories -}}
    <a href="{{ .Permalink }}" class="mr-2 post-category">{{ .Name }}</a>
    {{- end -}}
  </div>
  {{- end -}}
  {{- $tags := (.GetTerms "tags") -}}
  {{- with $tags -}}
  <div class="mr-2 post-tags">
    <i class="fas fa-fw fa-tag mr-1"></i>
    {{- range $tags -}}
    <a href="{{ .Permalink }}" class="mr-2 post-tag">{{ .Name }}</a>
    {{- end -}}
  </div>
  {{- end -}}
  {{- partial "translations" . -}}
</div>
