{{- $pages := .RegularPages -}}
{{- if .IsHome -}}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- else -}}
{{- partial "breadcrumb" . -}}
<h1 class="pb-3 mb-3 border-bottom">{{ .Title }}</h1>
{{- end -}}
<div class="posts">
{{- range (.Paginate $pages).Pages -}}
  <article class="post row">
    {{- if .Params.Images -}}
    <div class="post-thumbnail col-md-3">
      <img class="img-fluid" src="{{ index .Params.Images 0 | absURL }}" loading="lazy"/>
    </div>
    {{- end -}}
    <div class="post-body{{ if .Params.Images }} col-md-9{{ end }}">
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{- partial "post/meta" . -}}
      <div class="post-summary">
        {{- .Summary | truncate 320 -}}
      </div>
    </div>
  </article>
{{- end -}}
</div>
{{- template "_internal/pagination.html" . -}}