<article class="post row surface">
  {{- partial "post/toolbox" . -}}
  {{ if .Site.Params.titleCase }}
  <h1 class="post-title my-3">{{ title .Title }}</h1>
  {{ else }}
  <h1 class="post-title my-3">{{ .Title }}</h1>
  {{ end }}
  {{- partial "post/meta" . -}}
  {{- partial "hooks/content-begin" . -}}
  {{- partial "post/share" . -}}
  {{- partial "post/toc" . -}}
  <div class="post-content mb-3">
    {{- .Content -}}
  </div>
  {{- partial "post/copyright" . -}}
  {{- partial "post/reward" . -}}
  {{- partial "hooks/content-end" . -}}
    <hr />
  {{- partial "post/nav" . -}}
  {{- partial "post/related-posts" . -}}
</article>
{{- partial "post/comments" . -}}

