{{- with sort .Sections ".Title" "asc" -}}
<div class="post-sections row card component">
  <div class="card-header">
    <h2 class="card-title fs-4 text-surface my-2">{{ i18n "sections" }}</h2>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills justify-content-between">
      {{- range . -}}
        {{- if gt .Pages.Len 0 -}}
        <li class="nav-item post-section my-2 mx-1">
          <a class="btn btn-sm btn-secondary" href="{{ .RelPermalink }}">{{- .Title -}}</a>
        </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </div>
</div>
{{- end -}}
