<aside class="col-md-4 py-2 px-3 sidebar">
  {{- partial "hooks/sidebar-begin" . -}}
  {{ $posts := (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  <div>
    {{- $featuredPosts := first 5 (where $posts ".Params.featured" "eq" true) -}}
    {{- with $featuredPosts -}}
    <h4>{{ T "featured_posts" }}</h4>
    <ul class="featured-posts">
    {{- range . -}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{- end -}}
    </ul>
    {{- end -}}
  </div>
  <div>
    <h4>{{ T "recent_posts" }}</h4>
    <ul class="recent-posts">
    {{- range first 5 $posts -}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{- end -}}
    </ul>
  </div>
  <div>
    {{- range $key, $value := .Site.Taxonomies -}}
    <h4>
      <a href="{{ absLangURL (urlize $key) }}">{{ T $key }}</a>
    </h4>
    <div>
      {{- range $value.ByCount -}}
      <a href="{{ .Page.Permalink }}" class="btn btn-sm btn-primary mr-2 mb-2">
        {{ .Page.Title }} <span class="badge rounded-pill bg-dark">{{ .Count }}</span>
      </a>
      {{- end -}}
    </div>
    {{- end -}}
  </div>
  {{- partial "hooks/sidebar-end" . -}}
</aside>
