.btn {
  @include elevation(2);
}

.btn-primary {
  color: variable('on-primary')!important;
  background-color: variable('accent')!important;
  border-color: variable('accent')!important;

  &:hover,
  &:focus,
  &.active,
  &:active {
    background-color: variable('accent-dark')!important;
    border-color: variable('accent-dark')!important;
  }
}

.btn-outline-primary {
  background-color: variable('on-primary')!important;
  border-color: variable('primary')!important;
  color: variable('primary')!important;

  &:hover,
  &:focus,
  &.active,
  &:active,
  &.dropdown-toggle.show {
    background-color: variable('primary') !important;
    border-color: variable('primary') !important;
    color: variable('on-primary') !important;
    box-shadow: none !important;
  }
}
