.faq {
    a {
        color: variable('accent');
    }
}

.faq-answer {
    background: variable('surface');
    color: variable('primary-text-on-surface');
}

.accordion-button {
    background: variable('background');
    color: variable('primary-text-on-background');
    box-shadow: none!important;

    .faq-question-icon {
        position: absolute;
        right: .5rem;
    }

    &:not(.collapsed) {
        background: variable('background');
        color: variable('accent');

        .faq-question-icon {
            transform: rotate(180deg);
        }
    }

    &::after {
        display: none;
    }
}
