.footer {
  color: variable('secondary-text-on-surface');

  .powered-by a {
    color: variable('accent');
  }
}

.social-link {
  padding: 0.25rem;
  color: variable('secondary-text-on-surface') !important;

  &:hover {
    color: variable('accent')!important;
  }
}
