@import 'bootstrap/scss/utilities';
$utilities: map-merge(
  $utilities,
  (
    "align": null,
    // "float": null,
    "opacity": null,
    // "overflow": null,
    // "display": null,
    "shadow": null,
    // "position": null,
    //"top": null,
    "bottom": null,
    //"start": null,
    "end": null,
    "translate-middle": null,
    "border": null,
    // "border-top": null,
    "border-end": null,
    // "border-bottom": null,
    "border-start": null,
    "border-color": null,
    "border-width": null,
    "width": null,
    "max-width": null,
    "viewport-width": null,
    "min-viewport-width": null,
    "height": (
        property: height,
        class: h,
        values: (
            100: 100%
        )
    ),
    "max-height": null,
    "viewport-height": null,
    "min-viewport-height": null,
    // "flex": null,
    // "flex-direction": null,
    "flex-grow": null,
    "flex-shrink": null,
    // "flex-wrap": null,
    "gap": null,
    // "justify-content": null,
    // "align-items": null,
    "align-content": null,
    "align-self": null,
    "order": null,
    // "margin": null,
    // "margin-x": null,
    // "margin-y": null,
    // "margin-top": null,
    // "margin-end": null,
    // "margin-bottom": null,
    // "margin-start": null,
    "negative-margin": null,
    "negative-margin-x": null,
    "negative-margin-y": null,
    "negative-margin-top": null,
    "negative-margin-end": null,
    "negative-margin-bottom": null,
    "negative-margin-start": null,
    // "padding": null,
    // "padding-x": null,
    // "padding-y": null,
    // "padding-top": null,
    // "padding-end": null,
    // "padding-bottom": null,
    // "padding-start": null,
    "font-family": null,
    "font-size": null,
    "font-style": null,
    // "font-weight": null,
    "line-height": null,
    // "text-align": null,
    "text-decoration": null,
    "text-transform": null,
    "white-space": (
      property: white-space,
      class: text,
      values: (
        pre-wrap: pre-wrap,
      )
    ),
    "word-wrap": null,
    // "color": null,
    "text-opacity": null,
    "background-color": null,
    "bg-opacity": null,
    "gradient": null,
    "user-select": null,
    "pointer-events": null,
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
          null: $border-radius,
          circle: 50%,
          pill: $border-radius-pill
        )
    ),
    "rounded-top": null,
    "rounded-end": null,
    "rounded-bottom": null,
    "rounded-start": null,
    "visibility": null,
  )
);
