$variable-prefix: hbs-;

$form-range-thumb-bg: var(--#{$variable-prefix}accent);

$enable-smooth-scroll: false;

$colors: ();
$theme-colors: ();
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  lg: 992px
) !default;
$grid-gutter-width: .75rem;
$card-spacer-x: 1rem;
$card-spacer-y: 1rem;
$card-cap-bg: transparent;

$enable-shadows: false;

$border-color: var(--hbs-secondary-text-on-surface);

// Heading
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.375;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;

// Accordion
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");