{{- if gt (len $.Site.Home.AllTranslations) 1 -}}
<section class="setting">
  <form class="row">
    <div class="col-auto">
      <label for="fontSize" class="form-label"><i class="fas fa-fw fa-language"></i> {{ i18n "language" }}</label>
    </div>
    <div class="col-auto ms-auto">
      <div class="dropdown">
        <a class="btn btn-sm btn-outline-primary dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ $.Language.LanguageName }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
          {{- range $.Site.Home.AllTranslations -}}
            {{- if ne $.Lang .Language.Lang -}}
            <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </div>
  </form>
</section>
{{ end }}
