<section class="setting social-share">
  <form class="row">
    <div class="col-auto">
      <label><i class="fas fa-fw fa-share-alt"></i> Share</label>
    </div>
    <div class="col-auto ms-auto">
      <a class="btn btn-sm btn-outline-primary btn-social-share"><i class="fas fa-share"></i></a>
    </div>
  </form>
  <div class="mt-2 social-share-buttons d-flex visually-hidden flex-nowrap">
    <a class="btn btn-sm btn-outline-primary social-share-button" rel="noopener noreferrer" aria-label="Twitter Share Button"
      target="_blank" href="https://twitter.com/intent/tweet?title={{ .Title }}&url={{ .Permalink | absURL }}">
      <i class="fab fa-fw fa-twitter"></i> Twitter
    </a>
    <a class="btn btn-sm btn-outline-primary social-share-button" rel="noopener noreferrer" aria-label="Facebook Share Button"
      target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL }}">
      <i class="fab fa-fw fa-facebook-f"></i> Facebook
    </a>
  </div>
</section>
