{{- $logo := (default "images/logo.webp" .Site.Params.logo) }}
<a class="navbar-brand d-flex align-items-center flex-grow-1 flex-xxl-grow-0 justify-content-xxl-start{{ if eq .Type "docs" }} justify-content-center{{ end }} ms-2 ms-xxl-0 mx-auto me-xxl-2{{ if .IsHome }} active{{ end }}"
    href="{{ "" | absLangURL }}">
    {{- if $logo }}
    {{ partialCached "helpers/image" (dict "filename" $logo "alt" "Logo" "class" "logo" "resources" .Resources) }}
    {{- end }}
    {{- with .Site.Params.brand }}{{ . }}{{ else }}{{ $.Site.Title }}{{ end }}
</a>
