
<li class="nav-item mr-2">
  <a class="nav-link" tabindex="0" data-trigger="click" id="fontSizeSwitcher" data-toggle="popover" data-placement="bottom" 
    data-target="#fontSizesPopoverBody" data-html="true">
    <i class="fas fa-fw fa-font" ></i>
  </a>
</li>
<script type="text/html" id="fontSizesPopoverBody">
  <form class="font-size-switcher-form">
    <label for="fontSize" class="form-label">{{ i18n "font_size" }}</label>
    <input type="range" class="form-range" min="-2" max="2" id="fontSize">
  </form>
</script>
