{{- if gt (len $.Site.Home.AllTranslations) 1 }}
<li class="nav-item dropdown py-1 py-xxl-1 col-6 col-xxl-auto">
    <a class="nav-link px-0 px-xxl-1" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-fw fa-globe"></i>
        <span class="d-xxl-none">{{ i18n "language" }}</span>
    </a>
    <ul class="language-dropdown-menu dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
        {{- range $.Site.Home.AllTranslations }}
        <li>
        <a class="dropdown-item{{ if eq $.Lang .Language.Lang }} active{{ end }}" href="{{ .RelPermalink }}">
            {{ .Language.LanguageName }}
        </a>
        </li>
        {{- end -}}
    </ul>
</li>
<li class="nav-item py-1 col-12 col-xxl-auto">
  <div class="vr d-none d-xxl-flex h-100 mx-xxl-2 text-white"></div>
  <hr class="d-xxl-none my-2">
</li>
{{- end -}}
