
{{- if gt (len $.Site.Home.AllTranslations) 1 -}}
<li class="nav-item dropdown">
  <a class="nav-link d-flex align-items-center" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img title="{{ $.Language.LanguageName }}" class="country-flag" src="{{ absURL (print "images/lang/flag-" $.Language ".svg") }}"/><span>{{ $.Language.LanguageName }}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
    {{- range $.Site.Home.AllTranslations -}}
      {{- if ne $.Lang .Language.Lang -}}
      <li><a class="dropdown-item d-flex align-items-center" href="{{ .Permalink }}"><img title="{{ .Language.LanguageName }}" class="country-flag" src="{{ absURL (print "images/lang/flag-" .Language ".svg") }}"/> {{ .Language.LanguageName }}</a></li>
      {{- end -}}
    {{- end -}}
  </ul>
</li>
{{- end -}}
