<li class="nav-item me-1">
  <a class="nav-link" tabindex="0" data-bs-trigger="click" id="languageSwitcher" data-bs-toggle="popover"
    data-bs-placement="bottom" data-bs-target="#languagesPopoverBody" data-bs-html="true">
    <i class="fas fa-fw fa-language" ></i>
  </a>
</li>
<script type="text/html" id="languagesPopoverBody">
  <ul class="languages list-group">
    {{- range $.Site.Home.AllTranslations -}}
    {{- $active := eq $.Lang .Language.Lang -}}
    <li class="language list-group-item{{ if $active }} active{{ end }}">
      {{- if $active }}
      {{- .Language.LanguageName }}
      {{- else -}}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{- end -}}
    </li>
    {{- end -}}
  </ul>
</script>
