<li class="nav-item mx-1">
  <a class="nav-link" tabindex="0" data-trigger="focus click" data-container="#languageSwitcher" data-toggle="popover"
    data-placement="bottom" data-target="#languagesPopoverBody" data-html="true">
    <i class="fas fa-fw fa-language" ></i>
  </a>
</li>
<div id="languageSwitcher"></div>
<script type="text/html" id="languagesPopoverBody">
  <ul class="list-group">
    {{- range $.Site.Home.AllTranslations -}}
    <li class="list-group-item{{ if eq $.Lang .Language.Lang }} active{{ end }}">
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
    {{- end -}}
  </ul>
</script>
