{{- $palettes := slice "blue" "blue gray" "brown" "cyan" "gray" "green" "indigo" "orange" "pink" "purple" "red" "teal" "yellow" -}}
<li class="nav-item mx-1">
  <a class="nav-link" tabindex="0" data-trigger="focus" data-container="#paletteSwitcher" data-toggle="popover" data-placement="bottom" 
    data-target="#palettesPopoverBody" data-html="true">
    <i class="fas fa-fw fa-palette" ></i>
  </a>
</li>
<div id="paletteSwitcher"></div>
<script type="text/html" id="palettesPopoverBody">
  <ul class="palettes list-group">
    {{- range $palettes -}}
    {{- $key := replace . " " "-" -}}
    <li id="palette-{{ $key }}" class="palette list-group-item bg-{{ $key }}" foo="bar" onclick="hbs.main.switchPalette('{{ $key }}')">
      <a>{{ replace . " " "_" | printf "color_%s" | T }}</a>
    </li>
    {{- end -}}
  </ul>
</script>
