{{- $palettes := slice "blue" "blue gray" "brown" "cyan" "green" "indigo" "orange" "pink" "purple" "red" "teal" "yellow" -}}
{{- $palettes = default $palettes .Site.Params.Palettes -}}
<li class="nav-item mr-2">
  <a class="nav-link" tabindex="0" data-trigger="click" id="paletteSwitcher" data-toggle="popover" data-placement="bottom" 
    data-target="#palettesPopoverBody" data-html="true">
    <i class="fas fa-fw fa-palette" ></i>
  </a>
</li>
<script type="text/html" id="palettesPopoverBody">
  <ul class="palettes list-group">
    {{- range $palettes -}}
    {{- $key := replace . " " "-" -}}
    <li id="palette-{{ $key }}" class="palette list-group-item bg-{{ $key }}">
      <a>{{ replace . " " "_" | printf "color_%s" | T }}</a>
    </li>
    {{- end -}}
  </ul>
</script>
