{{- if .Site.Params.searchBar }}
  {{- $page := .Site.GetPage "/search" }}
  {{- if ne $page.Permalink .Permalink -}}
  <hr class="d-lg-none">
  <form class="search-bar ms-auto my-1" action="{{ with $page }}{{ .Permalink }}{{ end }}" novalidate>
    <div class="input-group input-group-sm align-items-center">
      <span class="btn btn-search disabled position-absolute left-0 border-0">
        <i class="fas fa-fw fa-search fa-lg"></i>
      </span>
      <input class="py-2 form-control rounded search-input" name="q" type="search" aria-label="Search" required>
    </div>
  </form>
  {{- end -}}
{{- end -}}
