{{- if .Site.Params.topAppBar.social }}
<li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
{{- $data := dict "links" .Site.Params.topAppBar.social "OutputFormats" $.OutputFormats "home" (.GetPage "/") "params" .Site.Params "iconText" true }}
{{- $data = merge $data (dict "class" "flex-row" "linkClass" "col-6 col-lg-auto p-1" "iconTextClass" "ms-1 d-lg-none") }}
{{- partial "helpers/social-links" $data }}
</li>
<li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
  <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
  <hr class="d-lg-none my-2">
</li>
{{- end -}}
