{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
{{- with $.Site.Params.repo -}}
{{- $url := .url -}}
{{- $branch := default "master" .branch -}}
{{- $dateFormat := default "02/01/2006, 15:04:05 PM" .dateFormat -}}
{{- $subPath := default "" .subPath -}}
{{- $contentDir := default "content" $.Site.Language.ContentDir -}}
{{- if $subPath -}}{{ $subPath = printf "/%s" $subPath }}{{- end -}}
<div class="accordion">
    <div class="accordion-item docs-repo row card component">
        <div class="card-header accordion-header" id="repo-header">
            <h2 class="card-title fs-4 my-2 text-surface d-none d-lg-block">{{ i18n "repo_title" }}</h2>
            <a
                class="accordion-button d-lg-none mb-1 shadow-none p-0 bg-transparent{{ if $collapsed }} collapsed{{ end }}"
                type="button" data-bs-toggle="collapse" data-bs-target="#repo" aria-expanded="{{ if $collapsed }}false{{ else }}true{{ end }}" aria-controls="repo">
                {{ i18n "repo_title" }}
            </a>
        </div>
        <div class="card-body collapse accordion-collapse accordion-body text-secondary-on-surface d-lg-block{{ if not $collapsed }} show{{ end }}" id="repo" aria-labelledby="repo-header">
            <ul class="list-unstyled">
                {{- if $.File -}}
                {{- $filePath := printf "%s%s/%s/%s" $branch $subPath $contentDir $.File.Path -}}
                <li class="mb-1">
                    <a href="{{ printf "%s/blob/%s" $url $filePath }}" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-fw fa-file-archive"></i> {{ i18n "repo_action_view" }}
                    </a>
                </li>
                <li class="mb-1">
                    <a href="{{ printf "%s/edit/%s" $url $filePath  }}" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-fw fa-edit"></i> {{ i18n "repo_action_edit" }}
                    </a>
                </li>
                {{- end -}}
                {{- with $.GitInfo -}}
                <li class="mb-1">
                    <i class="fas fa-fw fa-code"></i> <a href="{{ printf "%s/commit/%s" $url .Hash }}" target="_blank" rel="noopener noreferrer">{{ .AbbreviatedHash }}</a>
                </li>
                <li class="mb-1">
                    <i class="fas fa-fw fa-history"></i> {{ .AuthorDate.Format $dateFormat }}
                </li>
                {{- end -}}
            </ul>
        </div>
    </div>
</div>
{{- end -}}
