:target::before {
  content: "";
  display: block;
}

.anchor {
  font-size: 80%;
  visibility: hidden;
  margin-left: .5rem;
}

.post-content h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}
