:target::before {
  content: '';
  display: block;
}

.anchor {
  font-size: 75%;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.5s;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  .anchor {
    opacity: 1;
  }
}
