blockquote {
  background: var(--bs-light);
  border-left: 0.5rem solid variable('accent');
  color: variable('primary-text-on-surface');
  background-color: variable('surface');
  padding: 1rem 1.5rem;
  position: relative;

  p:last-child {
    margin-bottom: 0;
  }
}
