.btn {
  @include elevation(2);
}

.btn-primary {
  color: variable('on-primary');
  background-color: variable('accent');
  border-color: variable('accent');

  &:hover,
  &:focus {
    background-color: variable('accent-dark');
    border-color: variable('accent-dark');
  }
}

.btn-outline-primary {
  background-color: variable('on-primary');
  border-color: variable('primary');
  color: variable('primary');

  &:hover,
  &:focus,
  &.active,
  &:active,
  &.dropdown-toggle.show {
    background-color: variable('primary') !important;
    border-color: variable('primary') !important;
    color: variable('on-primary') !important;
    box-shadow: none !important;
  }
}
