$blue-primary: #3F51B5;
$blue-secondary: #5C6BC0;
$blue-accent: #FFC107;

$blue-gray-primary: #14274e;
$blue-gray-secondary: #394867;
$blue-gray-accent: #EF5350;

$brown-primary: #795548;
$brown-secondary: #A1887F;
$brown-accent: #FFCA28;

$cyan-primary: #{$cyan-900};
$cyan-secondary: #{$cyan-600};
$cyan-accent: #EF5350;

$gray-primary: #37474F;
$gray-secondary: #607D8B;
$gray-accent: #F06292;

$green-primary: #4CAF50;
$green-secondary: #66BB6A;
$green-accent: #FFC107;

$indigo-primary: #{$cyan-800};
$indigo-secondary: #{$cyan-600};
$indigo-accent: #FFC107;

$orange-primary: #FF9800;
$orange-secondary: #FFB74D;
$orange-accent: #29B6F6;

$pink-primary: #{$pink-700};
$pink-secondary: #{$pink-500};
$pink-accent: #42A5F5;

$purple-primary: #673AB7;
$purple-secondary: #9575CD;
$purple-accent: #FFCA28;

$red-primary: #F44336;
$red-secondary: #FF5252;
$red-accent: #FFA726;

$teal-primary: #{$teal-800};
$teal-secondary: #{$teal-600};
$teal-accent: #FF8A65;

$yellow-primary: #FFC107;
$yellow-secondary: #FFD54F;
$yellow-accent: #4FC3F7;

/* Background Colors */

.bg-blue {
  background-color: #{$blue-primary} !important;
}

.bg-blue-gray {
  background-color: #{$blue-gray-primary} !important;
}

.bg-brown {
  background-color: #{$brown-primary} !important;
}

.bg-cyan {
  background-color: #{$cyan-primary} !important;
}

.bg-gray {
  background-color: #{$gray-primary} !important;
}

.bg-green {
  background-color: #{$green-primary} !important;
}

.bg-indigo {
  background-color: #{$indigo-primary} !important;
}

.bg-orange {
  background-color: #{$orange-primary} !important;
}

.bg-pink {
  background-color: #{$pink-primary} !important;
}

.bg-purple {
  background-color: #{$purple-primary} !important;
}

.bg-red {
  background-color: #{$red-primary} !important;
}

.bg-teal {
  background-color: #{$teal-primary} !important;
}

.bg-yellow {
  background-color: #{$yellow-primary} !important;
}
