$dark-primary: rgba(0, 0, 0, 0.87);
$dark-secondary: rgba(0, 0, 0, 0.54);
$dark-disabled: rgba(0, 0, 0, 0.38);

$white-primary: rgb(225, 225, 225);
$white-secondary:rgba(225, 225, 225, 0.7);
$white-disabled: rgba(225, 225, 225, 0.5);

$blue-primary: #1564bf;
$blue-primary-light: #5e91f2;

$blue-gray-primary: #34515e;
$blue-gray-primary-light: #8eacbb;

$brown-primary: #795548;
$brown-primary-light: #a98274;

$cyan-primary: #00838f;
$cyan-primary-light: #4fb3bf;

$green-primary: #2e7d32;
$green-primary-light: #60ad5e;

$indigo-primary: #3f51b5;
$indigo-primary-light: #757de8;

$orange-primary: #bb4d00;
$orange-primary-light: #ffad42;

$pink-primary: #c2185b;
$pink-primary-light: #fa5788;

$purple-primary: #7e57c2;
$purple-primary-light: #b085f5;

$red-primary: #d32f2f;
$red-primary-light: #ff6659;

$teal-primary: #00796b;
$teal-primary-light: #48a999;

$yellow-primary: #bc5100;
$yellow-primary-light: #ffb04c;

/* background colors */

.bg-blue {
  background-color: #{$blue-primary} !important;
}

.bg-blue-gray {
  background-color: #{$blue-gray-primary} !important;
}

.bg-brown {
  background-color: #{$brown-primary} !important;
}

.bg-cyan {
  background-color: #{$cyan-primary} !important;
}

.bg-green {
  background-color: #{$green-primary} !important;
}

.bg-indigo {
  background-color: #{$indigo-primary} !important;
}

.bg-orange {
  background-color: #{$orange-primary} !important;
}

.bg-pink {
  background-color: #{$pink-primary} !important;
}

.bg-purple {
  background-color: #{$purple-primary} !important;
}

.bg-red {
  background-color: #{$red-primary} !important;
}

.bg-teal {
  background-color: #{$teal-primary} !important;
}

.bg-yellow {
  background-color: #{$yellow-primary} !important;
}

/* text colors */

.text-accent {
  color: var(--hbs-accent) !important;
}
