.footer {
  font-size: 0.9rem;
  margin-top: auto;
  text-align: center;
}

.social-links {
  margin: 1rem 0;
  justify-content: center;
}

.social-links .nav-link {
    padding: .5rem;
}

.copyright {
  margin-bottom: 1rem;
}

.powered-by {
  margin-bottom: 1rem;
}
