.navbar {
  background-color: var(--hbs-primary);
  color: var(--hbs-primary-text);
}

.logo {
  height: 26px;
  margin-right: .5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  color: var(--hbs-primary-text);
}

.nav-link.active {
  color: var(--hbs-accent);
}

.btn-search:focus {
  outline: none;
}

.search-dropdown-menu {
  width: 240px;
}

.search-form {
  display: flex;
  margin: 0 .25rem;
}

.btn-search {
  background-color: var(--hbs-secondary);
  border-color: var(--hbs-secondary);
  color: var(--hbs-secondary-text);
}

#languageSwitcher .popover-body,
#paletteSwitcher .popover-body {
  padding: .5rem;
}

.color-scheme-switcher {
  align-items: center;
  display: flex;
  margin-right: .5rem;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--hbs-secondary);
  color: var(--hbs-secondary-text);
}

.palettes {
  color: #{$white};
}
