.navbar {
  background-color: var(--hbs-primary);
  color: var(--hbs-primary-text);
}

.logo {
  height: 26px;
  margin-right: .5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  color: var(--hbs-primary-text);
}

.nav-link.active {
  color: var(--hbs-accent);
}

.language.active,
.language:active,
.language:focus,
.language:hover {
  background-color: var(--hbs-secondary);
  color: var(--hbs-secondary-text);

  a {
    color: #{$white};
  }
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--hbs-secondary);
  color: var(--hbs-secondary-text);
}

.palettes {
  color: #{$white};
}
