.image-viewer {
  .modal-content {
    background-color: #{$dark-primary};
    color: #{$white-primary};
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: auto;
      max-width: 280px;
    }
  }

  .modal-footer {
    border-top: none;
  }

  .action {
    margin-right: .5rem;
  }
}
