img {
  &[src$='#floatleft'] {
    float: left !important;
    margin-right: 1rem;
  }

  &[src$='#floatright'] {
    float: right !important;
    margin-left: 1rem;
  }

  &[src$='#center'] {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
