@mixin mode-light {
  --hbs-bg-color:#{$white};
  --hbs-color: var(--bs-dark);
}

@mixin mode-dark {
  --hbs-bg-color:var(--hbs-primary);
  --hbs-color: #{$white};
}

:root {
  @include mode-light;
  --prefers-color-scheme: none;
}

:root:not([data-palette]) {
  @include palette-blue-gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --prefers-color-scheme: dark;
  }

  :root:not([data-prefers-color-scheme]) {
    @include mode-dark;
  }
}

[data-prefers-color-scheme="light"] {
  @include mode-light;
}

[data-prefers-color-scheme="dark"] {
  @include mode-dark;
}

html {
  position: relative;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--hbs-bg-color);
  color: var(--hbs-color);
  display: flex;
  flex-flow: column;
  font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
btn:hover {
  color: var(--hbs-secondary);
}

code {
  color: var(--hbs-secondary-text);
  background-color: var(--hbs-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
}

pre {
  padding: 1rem;
  border-radius: .25rem;
}

table {
  @extend .table;
  @extend .table-bordered;
  color: var(--color);
}

main {
  margin-top: 84px;
  margin-bottom: 2rem;
}
