.navbar {
  background-color: var(--hbs-navbar);
  color: var(--hbs-primary-text-on-navbar);

  a {
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--hbs-accent-text-on-navbar);
    }
  }

  .btn {
    &:hover,
    &:focus {
      color: var(--hbs-on-primary);
    }
  }

  .btn-back {
    @extend .navbar-toggler;
  }
}

.navbar-toggler {
  color: inherit;
  border: none;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: var(--hbs-accent-text-on-navbar);
  }
}

.navbar-title {
  &:hover {
    color: var(--hbs-accent-text-on-navbar);
  }
}

.logo {
  height: 26px;
  width: auto;
  margin-right: 0.5rem;
}

$bgNavbarTogglerIcon: url("/images/icons/menu.png");

.navbar-toggler-icon {
  background-image: $bgNavbarTogglerIcon;
}

.nav-link {
  color: inherit;

  &:focus {
    outline: none;
    color: var(--hbs-accent);
  }

  &:hover {
    outline: none;
    color: var(--hbs-accent);
  }
}

.dropdown-menu {
  background-color: var(--hbs-background);

  .dropdown-item {
    color: var(--hbs-primary-text-on-background);

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--hbs-on-primary);
      background-color: var(--hbs-accent);
    }
  }
}
