.navbar {
  background-color: var(--hbs-navbar-bg);
  color: #{$white-secondary};

  a {
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #{$white};
    }
  }
}

.search-bar {
  .form-control {
    background-color: var(--hbs-background);
    border-color: var(--hbs-background);
    color: var(--hbs-secondary-text);
    padding-left: 2rem;

    &:focus {
      color: var(--hbs-primary-text);
    }
  }

  .btn-search {
    background-color: transparent;
    color: var(--hbs-secondary-text);
    z-index: 4 !important;
  }
}

.logo {
  height: 26px;
  width: auto;
  margin-right: 0.5rem;
}

.navbar-toggler {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

$bgNavbarTogglerIcon: url("/images/icons/menu.png");

.navbar-toggler-icon {
  background-image: $bgNavbarTogglerIcon;
}

.nav-link {
  color: inherit;

  &:focus {
    outline: none;
    color: var(--hbs-accent);
  }

  &:hover {
    outline: none;
    color: var(--hbs-accent);
  }
}

.dropdown-menu {
  background-color: var(--hbs-surface);

  .dropdown-item {
    color: var(--hbs-on-surface);

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #fff;
      background-color: var(--hbs-accent);
    }
  }
}
