.pagination {
  .page-link {
    background-color: var(--hbs-surface);
    border-color: var(--hbs-secondary-text-on-surface);
    color: var(--hbs-secondary-text-on-surface);
  }

  .page-item {
    .page-link {
      border-color: var(--hbs-secondary-text-on-surface);

      &:focus {
        box-shadow: none;
      }
    }

    &.active {
      .page-link {
        background-color: var(--hbs-primary);
      }
    }

    &.disabled {
      .page-link {
        color: var(--hbs-disabled-text-on-surface);
        background-color: var(--hbs-surface);
      }
    }
  }
}
