.post-meta {
  color: var(--hbs-secondary-text);
  word-break: break-all;
}

.post-summary {
  color: var(--hbs-secondary-text);
}

.post-taxonomy {
  margin: 0 .5rem .5rem 0;

  &.btn {
    color: #fff;
  }
}

.post-taxonomy .badge {
  background-color: #{$white};
  color: var(--hbs-accent);
}

.post-toc {
  z-index: 1;

  &.position-sticky {
    top: 84px;
  }
}

#TableOfContents {
  max-height: 360px;
  overflow: auto;
}

.post-toc ul {
  margin-bottom: 0;
}

.post-nav {
  width: 50%;
  display: flex;
}

.prev-post,
.next-post {
  display: flex;
  align-items: center;
}

.next-post {
  text-align: right;
  flex-direction: row-reverse;
}

.prev-post:before,
.next-post:before {
  display: flex;
  align-items: center;
}

.prev-post:before {
  content: "<\00a0";
}

.next-post:before {
  content: "\00a0>";
}

.post-comments .utterances {
  max-width: 100%;
}

.post-reward-content {
  text-align: center;
}

.post-reward-img {
  max-width: 280px;
}

.btn.btn-reward {
  color: #fff;
  background-color: var(--hbs-accent);
}
