.post {
  position: relative;
}

.post-toolbox {
  left: 0;
  top: 1rem;
  z-index: 1;
  position: absolute;
  text-align: right;
}

.post-meta {
  color: var(--hbs-secondary-text);
  word-break: break-all;
}

.post-summary {
  color: var(--hbs-secondary-text);
}

.post-taxonomy {
  margin: 0 .5rem .5rem 0;

  &.btn {
    color: #fff;
  }
}

.post-taxonomy .badge {
  background-color: #{$white};
  color: var(--hbs-accent);
}

.post-toc {
  z-index: 1;

  &.position-sticky {
    top: 84px;
  }
}

#btnTOC {
  z-index: 1;
  bottom: 5rem;
  right: 1.25rem;
  padding: 0;
  color: var(--hbs-accent);
}

#sidebarToggler {
  color: var(--hbs-accent);
}

#offcanvasTOC {
  margin-bottom: 0;
}

.post-toc ul {
  margin-bottom: 0;
}

.post-content {
  a {
    color: var(--hbs-accent);

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-nav {
  width: 50%;
  display: flex;
}

.prev-post,
.next-post {
  display: flex;
  align-items: center;
  a:hover{
        text-decoration: none;
        color: #{$white};
    }
}

.next-post {
  text-align: right;
  flex-direction: row-reverse;
}

.prev-post:before,
.next-post:before {
  display: flex;
  align-items: center;
}

.prev-post:before {
  content: "<\00a0";
}

.next-post:before {
  content: "\00a0>";
}

.post-comments .utterances {
  max-width: 100%;
}

.post-reward-content {
  text-align: center;
}

.post-reward-img {
  max-width: 280px;
}

.btn.btn-reward {
  color: #fff;
  background-color: var(--hbs-accent);
}
