.profile {
  color: variable('secondary-text-on-surface') !important;
  padding: .5rem 0;

  .profile-avatar {
    height: 120px;
    width: 120px;
  }

  .profile-meta {
    margin-top: 0.5rem;

    * {
      margin-bottom: 0.25rem;
    }
  }

  .profile-name {
    font-weight: bold;
  }

  .profile-company,
  .profile-about,
  .profile-location,
  .profile-contact {
    display: inline;
    margin-right: 0.5rem;
    white-space: pre;
  }

  a {
    color: variable('accent');
  }

  .svg-inline--fa {
    vertical-align: middle;
  }
}

.profile-compact {
  flex-direction: row;

  .profile-avatar {
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100%;
    }
  }
}
