::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: variable('secondary-text-on-surface');
}

::-webkit-scrollbar-track {
  background: variable('surface');
}

::-webkit-scrollbar-corner {
  background: variable('primary-text-on-surface');
}
