.btn-scroll-to-top {
  bottom: 1.5rem;
  color: var(--hbs-accent);
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  right: 1.25rem;
  cursor: pointer;

  &.active {
    opacity: 1;
  }
}
