.sidebar {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem !important;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;

      a {
        color: inherit;
        font-weight: 400;
      }

      a:hover {
        color: var(--hbs-accent);
      }
    }
  }

  .card-title {
    a {
      color: inherit;
    }

    a:hover {
      color: var(--hbs-accent);
      text-decoration: none;
    }
  }

  .card-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
