.sidebar {
  ul {
    padding-left: 0.25rem;
    list-style: none;

    li {
      a {
        color: variable('secondary-text-on-surface');

        &:hover {
          color: variable('accent');
        }
      }
    }
  }
}
