.sidebar {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem !important;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 0.25rem;
    list-style: none;

    li {
      margin: 0.25rem 0;

      a {
        color: variable('secondary-text-on-surface');

        &:hover {
          color: variable('accent');
        }
      }
    }
  }

  .card-body {
    padding: 1rem 2rem !important;
  }
}
