.taxonomy-title {
  margin-bottom: 1rem;
}

.taxonomy-meta {
  margin-bottom: 1rem;
  color: var(--hbs-secondary-text);
}

.taxonomy-posts {
  color: var(--hbs-secondary-text);
  padding-left: 2rem;
}
