.taxonomy {
  margin-bottom: 2rem;
  
  .taxonomy-title {
    margin-bottom: 1rem;
  }
  
  .taxonomy-meta {
    margin-bottom: 1rem;
    color: var(--hbs-secondary-text-on-surface);
  }
  
  .taxonomy-posts {
    color: var(--hbs-secondary-text-on-surface);
    padding-left: 2rem;
  }
}
