.taxonomy {
  margin-bottom: 2rem;

  .taxonomy-title {
    margin-bottom: 1rem;
  }

  .taxonomy-meta {
    margin-bottom: 1rem;
    color: variable('secondary-text-on-surface');
  }

  .taxonomy-posts {
    color: variable('secondary-text-on-surface');
    list-style: none;
    padding-left: 0.25rem;
  }
}
