$blue-gray-100: #CFD8DC !default;
$blue-gray-200: #B0BEC5 !default;
$blue-gray-300: #90A4AE !default;
$blue-gray-400: #78909C !default;
$blue-gray-500: #607D8B !default;
$blue-gray-600: #546E7A !default;
$blue-gray-700: #455A64 !default;
$blue-gray-800: #37474F !default;
$blue-gray-900: #263238 !default;

$brown-100: #D7CCC8 !default;
$brown-200: #BCAAA4 !default;
$brown-300: #A1887F !default;
$brown-400: #8D6E63 !default;
$brown-500: #795548 !default;
$brown-600: #6D4C41 !default;
$brown-700: #5D4037 !default;
$brown-800: #4E342E !default;
$brown-900: #3E2723 !default;
