$variable-prefix: hbs-;

$form-range-thumb-bg: var(--#{$variable-prefix}accent);

$enable-smooth-scroll: false;

$colors: ();
$theme-colors: ();
$grid-gutter-width: 1.25rem;
$card-spacer-x: .5rem;
$card-spacer-y: .5rem;
